<template>
  <div class="card" v-if="pacient">
    <div class="card-body">
      <div class="row mb-5">
        <div class="col-12">
          <div class="card" v-if="sputa === null">
            <div class="card-header">
              <h5>1. Prelevare spută</h5>
            </div>
            <div class="card-body">
              <h5>A fost prelevată sputa?</h5>
              <div class="d-flex">
                <div class="d-flex mr-2 align-items-center">
                  <button class="btn btn-primary" @click="handleSputaPrelevata">DA</button>
                </div>
              </div>
            </div>
          </div>

          <div v-else>
            <div class="card" v-if="sputa !== null">
              <div class="card-header">
                <h5>1. Prelevare spută</h5>
              </div>
              <div class="card-body">
                <div
                  class="alert alert-success"
                >Sputa a fost prelevata in data de {{ sputa.prelevata_at }}.</div>
              </div>
            </div>

            <div class="card" v-if="sputa !== null">
              <div class="card-header">
                <h5>2. Buletin de însoțire a sputei</h5>
              </div>
              <div class="card-body">
                <div class="buletin-sputa">
                  <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                      <label>Către dispensarul TB</label>
                      <input
                        class="form-control"
                        type="text"
                        v-model="buletin.dispensar"
                        :disabled="sputa.buletin !== null"
                      />
                    </div>

                    <div class="col-12 col-md-6 mb-4">
                      <label>Județul</label>
                      <!-- <input
                        class="form-control"
                        type="text"
                        v-model="buletin.judet"
                        :disabled="sputa.buletin !== null"
                      /> -->
                        <multiselect
                          v-model="buletin.judet"
                          :options="judete"
                          placeholder="Alege judet"
                          label="name"
                          track-by="name"
                          :allow-empty="false"
                          :multiple="false"
                           :disabled="sputa.buletin !== null"
                        ></multiselect>
                    </div>
                    <div class="col-12 mb-4">
                      <label>COMENTARII:</label>
                      <textarea
                       class="form-control"
                        type="text"
                         :disabled="sputa.buletin !== null"
                        v-model="buletin.comentarii">
                      </textarea>
                    </div>

                    <div class="col-12 col-md-6 mb-4">
                      <label>Aspect</label>
                      <input
                        class="form-control"
                        type="text"
                        v-model="buletin.aspect"
                        :disabled="sputa.buletin !== null"
                      />
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                      <label>Cantitate</label>
                      <input
                        class="form-control"
                        type="text"
                        v-model="buletin.cantitate"
                        :disabled="sputa.buletin !== null"
                      />
                    </div>
                    <div class="col-12 mb-4">
                      <label>Mențiuni speciale</label>
                      <textarea
                        class="form-control"
                        v-model="buletin.mentiuni"
                        :disabled="sputa.buletin !== null"
                      ></textarea>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                      <label>Numar de produse</label>
                      <input
                        class="form-control"
                        type="text"
                        v-model="buletin.produse"
                        :disabled="sputa.buletin !== null"
                      />
                    </div>
                    <div class="col-12">
                      <button
                        class="btn btn-primary mr-2"
                        :class="{ 'btn-disabled': sputa.buletin !== null}"
                        @click="handleBuletinSubmit"
                        :disabled="sputa.buletin !== null"
                      >Salvează</button>
                      <button
                        class="btn btn-secondary"
                        @click="handleBuletinPrint"
                      >Descarcă buletin de însoțire a sputei</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" v-if="sputa !== null && sputa.buletin !== null">
              <div class="card-header">
                <h5>3. Rezultate analize spută</h5>
              </div>
              <div class="card-body">
                <div class="row mb-5">
                  <div class="col-12 col-md-4 mb-4">
                    <label>Rezultat</label>
                    <div class="d-flex">
                      <div class="d-flex mr-2 align-items-center">
                        <input type="radio" class="mr-2" v-model="sputa.rezultat" value="1" /> Pozitiv
                      </div>
                      <div class="d-flex align-items-center">
                        <input type="radio" class="mr-2" v-model="sputa.rezultat" value="0" /> Negativ
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-4">
                    <label>A fost folosit test geneXpert</label>
                    <div class="d-flex">
                      <div class="d-flex mr-2 align-items-center">
                        <input type="radio" class="mr-2" v-model="sputa.genexpert" value="1" /> DA
                      </div>
                      <div class="d-flex align-items-center">
                        <input type="radio" class="mr-2" v-model="sputa.genexpert" value="0" /> NU
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button
                      class="btn btn-primary"
                      @click="handleRezultateSubmit"
                      :class="{'btn-disabled': rezultatDisabled}"
                      :disabled="rezultatDisabled"
                    >
                      <img src="../../assets/save.svg" /> Salveaza modificari
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  name: "ScreeningAnalize",
  components: { DatePicker },
  data() {
    return {
      judete: [],
      pacient: undefined,
      buletinSubmit: false,
      sputa: null,
      rezultatDisabled: false,
      buletin: {
        dispensar: null,
        judet: null,
        aspect: null,
        cantitate: null,
        mentiuni: null,
        produse: null
      }
    };
  },
  async created() {
    await this.getPacient(this.$route.params.id);
    await this.getJudete();
  },
  methods: {
    getJudete() {
      this.$http({
        url: `counties/list`,
        method: "GET"
      }).then(
        res => {
          this.judete = res.data.counties;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    handleSputaPrelevata() {
      const data = { ...this.sputa };

      data.buletin = null;
      data.pacient_id = this.$route.params.id;
      data.prelevata = true;

      this.$http({
        url: `spute/update`,
        method: "POST",
        data
      }).then(
        res => {
          this.sputa = res.data.sputa;
          this.sputa.prelevata_at = this.sputa.prelevata_at.date;
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Modificarile au fost savate cu succes!"
          });
        },
        () => {
          this.has_error = true;
        }
      );
    },
    handleBuletinSubmit() {
      const data = { ...this.sputa };

      data.buletin = JSON.stringify(this.buletin);

      this.$http({
        url: `spute/update`,
        method: "POST",
        data
      }).then(
        res => {
          this.sputa = res.data.sputa;
          this.buletin = JSON.parse(res.data.sputa.buletin);

          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Modificarile au fost savate cu succes!"
          });
        },
        () => {
          this.has_error = true;
        }
      );
    },
    handleRezultateSubmit() {
      const data = { ...this.sputa };
      data.buletin = JSON.stringify(this.buletin);

      this.$http({
        url: `spute/update`,
        method: "POST",
        data
      }).then(
        res => {
          this.sputa = res.data.sputa;

          if (this.sputa.rezultat !== null && this.sputa.genexpert !== null) {
            this.rezultatDisabled = true;
          }
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Modificarile au fost savate cu succes!"
          });
        },
        () => {
          this.has_error = true;
        }
      );
    },
    getPacient(id) {
      this.$http({
        url: `pacients/${id}`,
        method: "GET"
      }).then(
        res => {
          this.parsePacient(res.data.pacient);

        },
        (err) => {
          if(err.message === 'Network Error'){
            idb.getPacient(this.$route.params.id).then(data=>{
              this.parsePacient(data);
            })
          }else{
          this.has_error = true;
          }
        }
      );
    },
    parsePacient(data){
      this.pacient = data
      if (this.pacient.spute !== null) {
        this.sputa = this.pacient.spute;
        this.buletin = JSON.parse(this.pacient.spute.buletin);

        if (this.sputa.rezultat !== null && this.sputa.genexpert !== null) {
          this.rezultatDisabled = true;
        }

        if (this.buletin === null) {
          this.buletin = {};
        }
      }
    },
    handleBuletinPrint() {
      return this.$router.push({
        name: "buletin-spute",
        query: {
          buletin: this.buletin,
          pacient: this.pacient
        }
      });
    },
  }
};
</script>

<style lang="scss" scoped>
ul {
  list-style: none;
  padding-left: 0;
  &.li-ml li {
    margin-right: 3rem;
  }
}

.card-dashed {
  border-radius: 8px;
  border: dashed 1px rgb(158, 161, 193);
  background-color: rgb(247, 250, 253);
  padding: 2rem;
}
</style>