<template>
  <div class="card-dashed">
    <div class="row mb-5">
      <div class="col-12 col-md-4">
        <label>Catre dispensarul TB</label>

        <input class="form-control" type="text" v-model="buletin.meta.dispensar" required />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Judetul</label>
        <multiselect
          v-model="buletin.meta.judet"
          :options="judete"
          placeholder="Alege judet"
          label="name"
          track-by="name"
          :allow-empty="false"
          :multiple="false"
        ></multiselect>
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Motivul trimiterii</label>
        <input class="form-control" type="text" v-model="buletin.meta.motiv" required />
      </div>
      <div class="col-12 mb-4">
        <label>Simptome / Semne clinice</label>
        <input class="form-control" type="text" v-model="buletin.meta.simptome" required />
      </div>
      <div class="col-12">
        <label>Modificări radiologice toracice</label>
        <input class="form-control" type="text" v-model="buletin.meta.modificari_toracice" required />
      </div>
      <div class="col-12">
        <button class="btn btn-primary mr-2" @click="proceed">Salveaza modificarile</button>
        <button class="btn btn-secondary" @click="print">
          <i class="fas fa-spin fa-spinner" v-if="doPrint"></i> Tipareste
        </button>
      </div>
      <div class="col-12">
        <Errors :errors="errors" v-if="errors" />
      </div>
    </div>
  </div>
</template>

<script>
import DatePicker from "vuejs-datepicker";
import "vue2-datepicker/index.css";

import moment from "moment";

import Errors from "../Errors";
import Header from "../Formular/Header";

export default {
  name: "BiletTrimitere",
  props: ["pacient", "type"],
  components: { DatePicker, Errors, Header },
  data() {
    return {
      doPrint: false,
      errors: false,
      data_trimitere: null,
      judet: null,
      judete: [],
      localitate: null,
      buletin: {
        data_interpretare: null,
        meta: {}
      }
    };
  },
  async created() {
    await this.getBuletin();
    await this.getJudete();
  },
  methods: {
    formatDate(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    getJudete() {
      this.$http({
        url: `counties/list`,
        method: "GET"
      }).then(
        res => {
          this.judete = res.data.counties;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    getBuletin() {
      this.$http({
        url: `buletin/${this.type}/${this.pacient.id}`,
        method: "GET"
      }).then(
        res => {
          if (res.data.buletin !== null) {
            this.buletin = res.data.buletin;
            if (res.data.buletin.meta === undefined) {
              this.buletin.meta = {};
            } else {
              this.buletin.meta = JSON.parse(this.buletin.meta);
            }
          }
        },
        () => {
          this.has_error = true;
        }
      );
    },
    print() {
      return this.$router.push({
        name: "bilet-trimitere",
        query: {
          buletin: this.buletin,
          pacient: this.pacient
        }
      });
    },
    proceed() {
      this.errors = false;
      this.$http({
        url: `buletin/store`,
        method: "POST",
        data: {
          ...this.buletin,
          pacient_id: this.$route.params.id,
          radiografie_id: this.$route.params.id,
          type: this.type
        }
      }).then(
        res => {
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Modificarile au fost savate cu succes!"
          });
        },
        err => {
          console.error(err.response);
          this.errors = err.response.data.errors;
        }
      );
    }
  }
};
</script>