<template>
  <div class="alert alert-danger">
    <ul>
      <li v-for="(err, index) in errors" :key="index">{{ err[0] }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["errors"]
};
</script>