<template>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>Istoric intervenții</h5>
      <button class="btn btn-primary" @click="handleAdd()">Adaugă Intervenție nouă</button>
    </div>
    <div class="card-body">
      <div class="row" v-if="!add && !view">
        <div class="col-12 mb-4">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Ora</th>
                  <th>Durata apelului (minute)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="interventie in interventii" :key="interventie.id">
                  <td>{{ interventie.data }}</td>
                  <td>{{ interventie.ora }}</td>
                  <td>{{ interventie.durata_apel }}</td>
                  <td>
                    <button
                      class="btn btn-secondary"
                      @click="handleView(interventie.id)"
                    >Deschide intervenția</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <InterventieAdd v-if="add === true" :pacient="pacient" />
      <InterventieView v-if="view !== false" :pacient="pacient" :int="view" />
    </div>
  </div>
</template>

<script>
import InterventieAdd from "./Interventii/Add";
import InterventieView from "./Interventii/View";

export default {
  data() {
    return {
      pacient: undefined,
      interventii: [],
      add: false,
      view: false
    };
  },
  components: { InterventieAdd, InterventieView },
  created() {
    this.getPacient(this.$route.params.id);
    this.getInterventii();
  },
  methods: {
    handleAdd() {
      this.add = true;
    },
    handleView(id) {
      this.view = this.interventii.find(item => item.id === id);
    },
    getPacient(id) {
      this.$http({
        url: `pacients/${id}`,
        method: "GET"
      }).then(
        res => {
         this.parsePacient(res.data.pacient)
        },
        (err) => {
          if(err.message === 'Network Error'){
            idb.getPacient(id).then(data=>{
              this.parsePacient(data);
            })
          }else{
          this.has_error = true;
          }
        }
      );
    },
    parsePacient(data){
        this.pacient = data;
        this.pacient.informatii_generale = JSON.parse(
          data.informatii_generale
        );

        if (this.pacient.informatii_generale.chestionar === undefined) {
          this.pacient.informatii_generale.chestionar = {
            comuna: null,
            medic: null,
            amc_ms: null,
            centru_50_km: null,
            colocatari: null,
            checkedValues1: null,
            data_interpretare: null,
            rezultat_examinare: null,
            recomandari: null,
            raspunsuri: {}
          };
        }
    },
    getInterventii() {
      this.$http({
        url: `interventii/${this.$route.params.id}`,
        method: "GET"
      }).then(
        res => {
          this.interventii = res.data.interventii;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  }
};
</script>