<template>
  <div class="error-wrapper">
    <div class="container d-flex flex-column align-items-center justify-content-center">
      <div class="error-heading p-0 m-0">
        <h2 class="headline font-danger">404</h2>
      </div>
      <div>
        <p class="sub-content">Pagina pe care incerci sa o accesezi nu exista</p>
      </div>
      <div>
        <router-link class="btn btn-primary" :to="{name:'dashboard'}">INAPOI LA DASHBOARD</router-link>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.error-wrapper {
  width: 100%;
}
</style>