<template>
  <div class="adauga-radiografie">
    <div class="row">
      <div class="col-12 mb-4">
        <form id="uploadImage" method="POST" enctype="multipart/form-data">
          <input type="file" name="file[]" multiple class="imagePicker" style="display: none;" />
        </form>
        <label>
          <input type="file" id="file" ref="file" multiple v-on:change="handleFileUpload()" />
        </label>
      </div>
      <div class="col-12 mb-4">
        <textarea v-model="newImage.description" class="form-control mb-4" placeholder="Descriere"></textarea>

        <button class="btn btn-primary mb-4" @click="addRadiologie">Adaugă radiologie</button>

        <Errors :errors="radiologieErrors" v-if="radiologieErrors !== false" />
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../Errors";

export default {
  name: "ScreeningRadiologieAdd",
  components: {},
  props:['pacient'],
  data() {
    return {
      radiologieErrors: false,
      radiografie: [],
      newImage: {
        description: null,
        date: null
      },
      file: null
    };
  },
  components: { Errors },
  methods: {
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    addRadiologie() {
      this.success = false;
      this.error = false;

      let formData = new FormData();
      if (this.file !== null) {
        formData.append("file", this.file);
      }
      if (this.newImage.description !== null) {
        formData.append("description", this.newImage.description);
      }
      formData.append("pacient_id", this.pacient.id);

      this.$http({
        url: `radiologie/add`,
        method: "POST",
        data: formData,
        headers: {
          "Content-Type": "multipart/form-data"
        }
      }).then(
        res => {
          this.radiologieErrors = false;
          this.addImage = false;
          this.file = null;
          this.newImage.description = null;
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Radiografia a fost adaugata cu success!"
          });
          this.$emit('added-radiografie', res.data.radiologie);
        },
        err => {
          this.radiologieErrors = err.response.data.errors || [
            err.response.data.message
          ];
        }
      );
    },
  }
};
</script>

<style lang="scss" scoped>
.image-container {
  img {
    height: 250px;
    object-fit: contain;
  }
}
.card-dashed {
  border-radius: 8px;
  border: dashed 1px rgb(158, 161, 193);
  background-color: rgb(247, 250, 253);
  padding: 2rem;
}
</style>