<template>
  <div id="print-section" class="printable">
    <div class="header">
      <p class="font-weight-bold">PROGRAMUL OPERATIONAL CAPITAL UMAN</p>
      <p>Axa prioritara 4 - Incluziunea socială și combaterea saraciei</p>
      <p>Obiectivul tematic 9: Promovarea incluziunii sociale, combaterea saraciei și a oricarei forme de discriminare</p>
      <p>Prioritatea de investitii 9.iv: Cresterea accesului la servicii accesibile, durabile și de inalta calitate, inclusiv asistenta medicala și servicii sociale de interes general</p>
      <p>Obiectivul specific 4.9: Creșterea numărului de persoane care beneficiază de programe de sănătate și de servicii orientate către prevenție, depistare precoce (screening), diagnostic și tratament precoce pentru principalele patologii și și</p>
      <p>Titlul proiectului: Organizarea de programe de depistare precoce (screening), diagnostic și tratament precoce al tuberculozei, inclusiv al tuberculozei latente</p>
      <p>Contract nr. POCU/225/4/9/117426 (Cod SMIS 2014+: 117426)</p>
    </div>
    <div class="footer mt-auto">
      <div style="text-align: center;"><img src="/assets/images/footer.png" style="width: 100%; margin-top: 50px;" /></div>
    </div>
  </div>
</template>