<template>
  <div class="col-12 bg-white">
    <div class="row">
      <div class="col-12 col-md-3 mb-4">
        <label>Data</label>
        <datepicker
          :format="formatDate"
          :bootstrap-styling="true"
          input-class="form-control"
          v-model="int.data"
        />
      </div>
      <div class="col-12 col-md-3 mb-4">
        <label class="d-block">Ora</label>
        <vue-timepicker v-model="int.ora" class="d-block" input-class="form-control alege-ora"></vue-timepicker>
      </div>
      <div class="col-12 col-md-3 mb-4">
        <label>Durata apelului (minute)</label>
        <input type="number" class="form-control" v-model="int.durata_apel" />
      </div>
      <div class="col-12 col-md-3 mb-4">
        <label>Doze omise</label>
        <input type="text" class="form-control" v-model="int.doze_omise" />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Reacții adverse la tratament</label>
        <input type="text" class="form-control" v-model="int.reactii_adverse" />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Simptome depresive</label>
        <input type="text" class="form-control" v-model="int.simptome_depresive" />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Simptome anxioase</label>
        <input type="text" class="form-control" v-model="int.simptome_anxioase" />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Consum alcool</label>
        <input type="text" class="form-control" v-model="int.consum_alcool" />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Consum tutun</label>
        <input type="text" class="form-control" v-model="int.consum_tutun" />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Alt comportament adictiv</label>
        <input type="text" class="form-control" v-model="int.alt_comportament_adictiv" />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Boli existente: coping</label>
        <input type="text" class="form-control" v-model="int.boli_existente" />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Probleme sociale</label>
        <input type="text" class="form-control" v-model="int.probleme_sociale" />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Referințe EMD</label>
        <input type="text" class="form-control" v-model="int.referinte_emd" />
      </div>
      <div class="col-12 col-md-6 mb-4">
        <label>Observații</label>
        <input type="text" class="form-control" v-model="int.observatii" />
      </div>
      <div class="col-12 mb-4">
        <button class="btn btn-primary" @click="proceed">Adaugă Intervenție</button>
      </div>

      <Errors v-if="errors" :errors="errors" />
    </div>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import Errors from "../Errors";
import moment from "moment";
import VueTimepicker from "vue2-timepicker";
import "vue2-timepicker/dist/VueTimepicker.css";
export default {
  data() {
    return {
      int: {},
      errors: false
    };
  },

  props: ["pacient"],
  components: { Errors, Datepicker, VueTimepicker },
  methods: {
    formatDate(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    proceed() {
      this.errors = false;
      this.$http({
        url: `interventii/store`,
        method: "POST",
        data: {
          ...this.int,
          pacient_id: this.pacient.id
        }
      }).then(
        res => {
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Modificarile au fost savate cu succes!"
          });
          this.$router.push({
            name: "pacient-interventii",
            params: { id: this.$route.params.id }
          });
        },
        err => {
          console.error(err.response);
          this.errors = err.response.data.errors;
        }
      );
    }
  }
};
</script>

<style lang="scss">
.alege-ora {
  width: 100% !important;
  height: auto !important;
  height: calc(2.25rem + 2px) !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  background-color :#fff !important;
}
</style>