<template>
  <div class="card" style="width: 100%;">
    <!-- <div class="card-header">Generare raport pacienti</div> -->
    <div class="card-body" >
      <div class="row">
        <div class="col-6 d-flex flex-column">
          <p> Perioada raportare: </p>
          <div class="d-flex flex-grow-1 position-relative"  :style="{ 'pointer-events': loading ? 'none' : null }">
            <vc-date-picker
              :attributes='attributes'
              mode='range'
              
              :masks="masks"
              @input="filterChanged"
              class="h-100 w-100"
              v-model="raport.range"
              :input-props='{
                class:"h-100 vc-appearance-none vc-text-base vc-text-gray-800 vc-bg-white focus:vc-border vc-border vc-border-gray-400 vc-rounded vc-w-full vc-py-2 vc-px-3 vc-leading-tight",
                readonly:true,
                placeholder: "Optional: Selectati indervalul de raportare",
              }'
            />
            <button v-if="raport.range" @click="raport.range = null;filterChanged()" class="clear-btn">x</button>
          </div>
        </div>

        <!-- <div class="col-4">
          <vc-date-picker
           :attributes='attributes'
            v-model="raport.end_date"
          />
        </div> -->
        <div class="col-6">
          <p> Judet de raportare: </p>
          <div class="d-flex position-relative"  :style="{ 'pointer-events': loading ? 'none' : null }">
            <multiselect
            v-model="raport.judet"
            :options="judete"
            placeholder="Optional: Selectati judetul de raportare"
            label="name"
            @input="filterChanged"
            track-by="name"
            :allow-empty="false"
            :multiple="false"
            ><span slot="caret" class="d-none"></span></multiselect>
           <button class="clear-btn" v-if="raport.judet" @click="raport.judet=null;filterChanged()" >x</button>
          </div>
        </div>
        
        <div class="col-12 text-center">

          <div v-if="loading">
            Raportul este in curs de generare...
            <i class="fas fa-spin fa-spinner"></i>
          </div>

          <download-excel
            class="btn btn-primary btn-block"
            :data="pacienti"
            :fields="json_fields"
            name="raport-pacienti.xls"
            v-if="!loading && pacienti.length>0"
          >
            <i class="fas fa-download"></i> Descarca raport
          </download-excel>

          <!-- <button v-if="!loading && pacienti.length===0" class="btn btn-primary btn-block" @click="getPacienti" >Generare raport</button> -->

        </div>
      </div>
      <div class="table-responsive" :style="{'display': loading || pacienti.length==0 ? 'none': null}">
        <datatable
          :columns="columns"
          :data="pacienti"
          :per-page="15"
          class="table table-hover table-bordered">
          <!-- :filter="cautare" -->
        </datatable>
        <div class="col-12 py-4 d-flex align-items-center justify-content-center">
          <datatable-pager v-model="page" type="abbreviated"></datatable-pager>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import slugify from "slugify";
import { Locale } from "v-calendar";
const locale = new Locale();
const mask = "YYYY-MM-DD";
import downloadExcel from "vue-json-excel";
import moment from 'moment';
import {removeDiacritics} from '../../util/diacritice'
export default {
  name: "RaportPacienti",
  components: { downloadExcel },
  
  data() {
    return {
      columns: [
        { label: "NR. Crt", field: "crt" },
        { label: "Nume", field: "nume" },
        { label: "Prenume", field: "prenume" },
        { label: "CNP", field: "cnp" },
        { label: "Adresa", field: "adresa_domiciliu" },
        { label: "Telefon", field: "telefon" },
        { label: "Telefon", field: "telefon" },
        { label: "Zona", field: "zona" },
        { label: "Gen", field: "gen" },
        { label: "Varsta", field: "varsta" },
        { label: "Sputa", field: "examen_sputa" },
        { label: "Rezultat Sputa", field: "rezultat_sputa" },
        { label: "Feedback", field: "feedback_expert_local" },
        { label: "Bilet Trimitere", field: "bilet_trimitere" },
        { label: "Angajat", field: "situatia_pe_piata_fortei_de_munca" },
        { label: "Educatie", field: "nivel_de_educatie" },
        { label: "Pers. Dezavantajata", field: "persoana_dezavantajata" },
        { label: "Detalii", field: "persoana_dezavantajata_details" },

      ],
      page: 1,
      masks: {
        input: mask
      },
      attributes:[{
        highlight: true,
         
      }],
      raport:{
        range:null,
        judet:null
      },
      judete:[],
      loading: false,
      filtered: [],
      pacienti: [],
      slugify,
      json_fields: {
        Crt: "crt",
        Nume: "nume",
        Prenume: "prenume",
        CNP: "cnp",
        Data: "data",
        Judet: "judet",
        Localitate: "localitate",
        "Adresa domiciliu": "adresa_domiciliu",
        Telefon: "telefon",
        Zona: "zona",
        Gen: "gen",
        Varsta: "varsta",
        "Scor TB": "scor_tb",
        "Examen Sputa": "examen_sputa",
        "Rezultat sputa": "rezultat_sputa",
        "Feedback expert local": "feedback_expert_local",
        "Bilet Trimitere": "bilet_trimitere",
        "Situatia pe piata fortei de munca":
          "situatia_pe_piata_fortei_de_munca",
        "Nivel de educatie": "nivel_de_educatie",
        "Persoana dezavantajata": "persoana_dezavantajata",
        "Participanți care trăiesc în gospodării fără persoane ocupate":
          "persoana_dezavantajata_details"
      },
      educatie: [
        "Studii Educație timpurie (ISCED 0)",
        "Studii primare (ISCED 1)",
        "Studii gimnaziale (ISCED 2)",
        "Studii liceale (ISCED 3)",
        "Studii postliceale (ISCED 4)",
        "Studii superioare (ISCED 5)",
        "Studii superioare (ISCED 6)",
        "Studii superioare (ISCED 7)",
        "Studii superioare (ISCED 8)",
        "fără ISCED"
      ],
      sit: [
        "Angajat",
        "Angajat pe cont propriu",
        "Șomer",
        "Șomer de lungă durată",
        "Persoană inactivă (inclusiv copii antepreșcolari, preșcolari, elevi etc.)",
        "Alta categorie de inactivi în afara de cei din educație și formare"
      ],
      persoana_dezavantajata: [
        "Participanți care trăiesc în gospodării fără persoane ocupate",
        "Participanți care trăiesc în gospodării fără persoane ocupate cu copii aflați în întreținere",
        "Participanți care trăiesc în gospodării alcătuite dintr-un părinte unic cu copii aflați în întreținere",
        "Migranți",
        "Participanți de origine străină",
        "Minorități",
        "Etnie romă",
        "Alta minoritate decât cea de etnie romă",
        "Comunități marginalizate",
        "Participanți cu dizabilități",
        "Alte categorii defavorizate",
        "Persoane fără adăpost sau care sunt afectate de excluziunea locativă",
        "Niciuna din opțiunile de mai sus"
      ]
    };
  },
  watch: {
  
      raport: {
        handler: function () {
            //console.log(this.raport);
            
        },
        deep: true
      }
  },
  async created() {
    this.getPacienti();
    await this.getJudete();
  },
  methods: {
    getJudete() {
      this.$http({
        url: `counties/list`,
        method: "GET"
      }).then(
        res => {
          this.judete = res.data.counties;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    handlePrint() {
      return printJS({
        printable: "printable-section",
        type: "html",
        style:
          ".font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} .header-small {font-size:12px !important;} p { margin: 0 !important; padding: 0 !important; line-height: 1; } .text-center {text-align: center !important;} .mx-auto {margin-left: auto; margin-right: auto;} .header-details {font-size: 16px !important;} input { border:0 !important; font-weight: bold; } h5 { font-size:1.5rem !important; }"
      });
    },
    formatDate(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    filterChanged(){
      let judet = this.raport.judet ? removeDiacritics(this.raport.judet.name) : ''
      let start = this.raport.range ? locale.format(this.raport.range.start, mask) : "";
      let end = this.raport.range ? locale.format(this.raport.range.end, mask) : "";
      this.getPacienti(judet,start,end);
      //console.log('judet',judet,start,end);
    },
    getPacienti(judet,start,end) {
    
      this.loading = true;
      this.$http({
        url: `pacients?start_date=${start||""}&end_date=${end||""}&judet=${judet||""}`,
        method: "GET"
      }).then(
        res => {
          //console.log(res);
          this.page=0;
          this.pacienti = res.data.pacients.map(item => {
            const bilete_trimitere = item.buletine.filter(
              b => b.type === "bilet-radiografie"
            );
            const buletine_expert_local = item.buletine.filter(
              b => b.type === "expert-local-tb"
            );

            const informatii_generale = JSON.parse(item.informatii_generale);

            const examen_sputa =
              item.spute !== null && item.spute.prelevata_at ? "DA" : "NU";

            let rezultat_sputa = "";

            if (item.spute !== null) {
              if (item.spute.rezultat === 1) {
                rezultat_sputa = "Pozitiv";
              } else {
                rezultat_sputa = "Negativ";
              }
            }

            const feedback_expert_local = buletine_expert_local.length
              ? buletine_expert_local[buletine_expert_local.length - 1]
                  .recomandari
              : "";

            const bilet_trimitere = bilete_trimitere.length ? "DA" : "NU";

            const situatia_pe_piata_fortei_de_munca = this.sit.find(
              s => slugify(s) === informatii_generale.statutul_pe_piata_muncii
            );

            const nivel_de_educatie = this.educatie.find(
              s => slugify(s) === informatii_generale.nivelul_studiilor
            );

            const persoana_dezavantajata =
              informatii_generale.persoana_dezavantajata;

            const persoana_dezavantajata_details = this.persoana_dezavantajata.find(
              dz => informatii_generale.p_d_extra === slugify(dz.toLowerCase())
            );

            return {
              crt: item.id,
              nume: item.nume,
              prenume: item.prenume,
              cnp: item.cnp,
              data: item.created_at,
              judet: item.judet_domiciliu,
              localitate: item.oras_domiciliu,
              adresa_domiciliu: item.adresa_domiciliu,
              telefon: item.telefon,
              zona: item.zona,
              gen: item.gen,
              varsta: item.varsta,
              scor_tb: "",
              examen_sputa,
              rezultat_sputa,
              feedback_expert_local,
              bilet_trimitere,
              situatia_pe_piata_fortei_de_munca,
              nivel_de_educatie,
              persoana_dezavantajata,
              persoana_dezavantajata_details
            };
          });
          this.loading = false;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  }
};
</script>
<style >

.vc-appearance-none{
  appearance: none;
  height: 100%;
}

.multiselect__single {
    padding-left: 5px;
    margin-bottom: 10px;
}
.clear-btn{
  position: absolute;
  right: 10px;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 100%;
  font-size: xx-large;
  display: flex;
  align-items: flex-end;
}
.clear-btn:focus{
  outline: none !important;
}
</style>