<template>
  <div class="card" style="width:100%;">
    <div class="card-header">
      <button class="btn btn-primary btn-block" @click="handlePrint"><i class="fas fa-print"></i> Tipareste raport</button>
    </div>
    <div class="card-body" id="printable-section">
      <div v-for="car in caravane" :key="car.id" class="table-responsive">
        <h5>Caravana {{ car.id }}</h5>
        <br />
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Denumire produs</th>
              <th>Stoc in caravana</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="produs in car.produse" :key="`prod${produs.id}`">
              <td>{{ produs.details.denumire }}</td>
              <td>{{ produs.quantity }} {{ produs.details.um }}</td>
            </tr>
          </tbody>
        </table>
        <br />
        <br />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "RaportStocuri",
  data() {
    return {
      caravane: []
    };
  },
  created() {
    this.getCaravane();
  },
  methods: {
    handlePrint() {
      return printJS({
        printable: "printable-section",
        type: "html",
        style:
          ".font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} .header-small {font-size:12px !important;} p { margin: 0 !important; padding: 0 !important; line-height: 1; } .text-center {text-align: center !important;} .mx-auto {margin-left: auto; margin-right: auto;} .header-details {font-size: 16px !important;} input { border:0 !important; font-weight: bold; } h5 { font-size:1.5rem !important; }"
      });
    },
    getCaravane() {
      this.$http({
        url: `info-caravana/list-with-details`,
        method: "GET"
      }).then(
        res => {
          this.caravane = res.data.caravane;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  }
};
</script>