<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body "  id="printable-section">
       <p class="py-5" style="display:flex">
        Nume: <input type="text" v-model="tratament.pacient.nume" class="form-input w-input" />
        Prenume: <input type="text" v-model="tratament.pacient.prenume" class="form-input w-input" />
        CNP: <input type="text" v-model="tratament.pacient.cnp" class="form-input w-input" />
      </p>
      <p class="py-5" >
        Dispensar TB:  <input type="text" v-model="tratament.dispensar" class="form-input" />
        Judet:  <input type="text" v-model="tratament.judet" class="form-input" />
      </p>
      <p class="d-flex py-5">
        Diagnostic: <input type="text" v-model="tratament.diagnostic" class="form-input flex-1 ml-10" />
      </p>
      <div>
        <p class="py-5">
          Localizare: 
          Pulmonara     <input type="radio" value="pulmonara"      v-model="tratament.localizare"/> 
          Extrapulmonara <input type="radio" value="extrapulmonara" v-model="tratament.localizare" />
        </p>
        <div class="d-flex py-5">
          <div>Tip Caz: </div>
          <div class="d-flex flex-column">

            <div class="justify-content-between">
              <div class="justify-content-between">Caz Nou<input type="radio" class="ml-10" value="nou" v-model="tratament.tipCaz"/></div>
            <div class="justify-content-between">Abandon<input type="radio" value="abandon" class="ml-10" v-model="tratament.tipCaz"/></div>
            </div>

            <div class="justify-content-between">
              <div class="justify-content-between">Transfer<input type="radio" value="transfer" class="ml-10" v-model="tratament.tipCaz"/></div>
              <div class="justify-content-between">Esec<input type="radio" value="esec"  class="ml-10" v-model="tratament.tipCaz"/></div>
            </div>
            
            <div class="justify-content-between">
              <div class="justify-content-between">Recidiva<input type="radio" value="recidiva"  class="ml-10" v-model="tratament.tipCaz"/> </div>
              <div class="justify-content-between">Cronic<input type="radio" value="cronic"  class="ml-10" v-model="tratament.tipCaz"/></div>
            </div>
          </div>
        </div>
        <p class="py-5">
          Test Genetic efectuat:
          Da <input type="radio" value="da" v-model="tratament.testGenetic"/> 
          Nu <input type="radio" value="nu" v-model="tratament.testGenetic"/>
        </p>
        <p class="py-5">
          Regim: 
          Standard <input type="radio" value="standard" v-model="tratament.regim"/> 
          Individualizat <input type="radio" value="Individualizat" v-model="tratament.regim"/> 
          MDR/XDR <input type="radio"  v-model="tratament.regim"/>
        </p>
      </div>
        <div class="py-5 d-flex flex-column w-full">
          <p>Rezultat examen bacteriologic:</p>

          <table class="table-bordered mx-auto">
            <tbody>
              <tr>
                <td class="text-center" colspan="2">Luna Tratament</td>
                <td class="text-center">Rezultat examen direct</td>
                <td class="text-center">Rezultat Cultura</td>
              </tr>
            <tr v-for="luna of tratament.examBacterilogic" :key="luna.id">
                <td>
                  <input type="text" class="form-input" v-model="luna.luna" />
                </td>
                <td>T{{luna.id}}</td>
                <td>
                  <input type="text" class="form-input" v-model="luna.rezDirect" />
                </td>
                <td>
                  <input type="text" class="form-input" v-model="luna.rezCultura" />
                </td>
              </tr>
            </tbody>
            </table>
        </div>

        <p class="py-5">
          Data Evaluare:  <input type="text" class="form-input"  v-model="tratament.submitDate"/>
        </p>
        <div class="d-flex py-5">
          <div> Evaluare Caz TB: </div>
          <div class="d-flex flex-column">
            <div class="justify-content-between align-top">
              <div class="justify-content-between align-top">N (caz nou) <input type="radio" class="mt-7" v-model="tratament.evaluareTB" value="N" /></div>
              <div class="justify-content-between align-top">E (retratament dupa esec) <input type="radio" class="mt-7" v-model="tratament.evaluareTB" value="E" /></div>
            </div>
            <div class="d-flex justify-content-between align-top ">
              <div class="justify-content-between align-top">R (recidiva) <input type="radio" class="mt-7" v-model="tratament.evaluareTB" value="R" /></div>
              <div class="justify-content-between align-top">A (retratament dupa abandon) <input type="radio" class="mt-7" v-model="tratament.evaluareTB" value="A" /></div>
            </div>
            <div class="justify-content-between">
              <div class="justify-content-between"><span class="nowrap">C (cronic)</span><input type="radio" class="mt-7" v-model="tratament.evaluareTB" value="C" /></div>
              <div class="w-full" />
            </div>
          </div>
        </div>
        <div class="d-flex py-5">
          <div>Evaluare Caz TB MDR:</div>
          <div class="d-flex flex-column">
            <div class="justify-content-between align-top">
              <div class="justify-content-between align-top">V (vindecat)<input type="radio" class="mt-7" v-model="tratament.evaluareMDR" value="V" /></div>
              <div class="justify-content-between align-top">E (esec)  <input type="radio" class="mt-7" v-model="tratament.evaluareMDR" value="E" /></div>
            </div>
           <div class="justify-content-between align-top">
              <div class="justify-content-between align-top">T (tratament complet) <input type="radio" class="mt-7" v-model="tratament.evaluareMDR" value="T" /></div>
              <div class="justify-content-between align-top">A (abandon) <input type="radio" class="mt-7" v-model="tratament.evaluareMDR" value="A" /></div>
            </div>
            <div class="justify-content-between align-top">
              <div class="justify-content-between align-top">D (deces) <input type="radio" class="mt-7" v-model="tratament.evaluareMDR" value="D" /></div>
              <div class="justify-content-between align-top">P (pierdut) <input type="radio" class="mt-7" v-model="tratament.evaluareMDR" value="P" /></div>
            </div>
          </div>
        </div>
      </div>
    <div class="card-footer">
      <button class="btn btn-primary" @click="saveData">Salvare</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Tratament",
  data() {
    return {
      
      tratament: {
        pacient:{},
        localizare:null,
        tipCaz:null,
        submitDate:null,
        examBacterilogic: [{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10},{"id":11},{"id":12},{"id":13},{"id":14},{"id":15},{"id":16},{"id":17},{"id":18},{"id":19},{"id":20},{"id":21},{"id":22},{"id":23},{"id":24}],
        testGenetic:null,
        evaluareMDR: null,
        evaluareTB: null,
        judet: null,
        regim:null,
        dispensar: null,
        diagnostic: null,
        pacient_id:null
      }
    }
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        style:`
        * { font-size: 18px !important } 
        .w-input{ width: 160px;}
        #printable-section { padding-left: 60px; padding-right: 60px; } 
        .font-weight-bold {font-weight: bold;} 
        .mt-7 {margin-top: 5px !important;} 
        .header-small {font-size:15px !important;} 
        p { margin: 0 !important; padding: 0 !important; line-height: 1.6; font-size: 19px !important; } 
        .font-weight-bold { font-size: 21px !important;} 
        .text-center {text-align: center !important;} 
        .mx-auto {margin-left: auto; margin-right: auto;} 
        .header-details {font-size: 16px !important;} 
        input { border:0 !important; font-weight: bold; border-bottom: 1px solid #000 !important} 
        .header .font-weight-bold {font-size: 15px !important;} 
        .card-body{margin:20px}  
        table.table-bordered>tbody>tr>td{border:1px solid #000;}
        table.table-bordered>tbody>tr>td .form-input{margin-left:5px; border:none !important;}
        table{border-collapse: collapse;} 
        .flex-column{ flex-direction: column;}
        .justify-content-between{ padding: 0 10px;
          align-items: center; flex: 1;   display: flex;
          justify-content: space-between;}
        .align-top{
          align-items:flex-start;
        }
        
        .w-full{width: 100%;}
        .nowrap{margin-right: 79px; white-space:nowrap}
        .py-5{
          padding-top: 15px !important;
          padding-bottom: 15px !important;
        }
        .ml-10{ margin-left: 10px;}
        .d-flex{display:flex}
        .flex-1{flex:1}`
      });
    },
    getPacient(id) {
      this.$http({
        url: `pacients/${id}`,
        method: "GET"
      }).then(
        res => {
          this.tratament.pacient = res.data.pacient;
          this.tratament.pacient_id = res.data.pacient.id;
        },
       (err) => {
          if(err.message === 'Network Error'){
            idb.getPacient(this.$route.params.id).then(data=>{
              this.tratament.pacient = data;
               this.tratament.pacient_id = data.id;
            })
          }else{
          this.has_error = true;
          }
        }
      );
    },
    saveData(){
      var datatoSend = {...this.tratament, examBacterilogic: this.tratament.examBacterilogic.filter(elem=>elem.rezDirect)};
      this.$http({
          url: `tratament`,
          method: "POST",
          data: datatoSend
        }).then(
          res => {
            this.success = res.data.success;
            this.$notify({
              group: "foo",
              title: "Succes",
              type: "success",
              position: "bottom right",
              text: "Modificarile au fost savate cu succes!"
            });
          },
          () => {
            this.has_error = true;
          }
        );
    }
  },
  created() {
    this.getPacient(this.$route.params.id);
  }
};
</script>

<style lang="scss" scoped>
  * { font-size: 18px !important } 
  .w-input{
    flex: 1;
    margin: 0 10px;}
  #printable-section { padding-left: 60px; padding-right: 60px; } 
  .font-weight-bold {font-weight: bold;} 
  .mt-7 {margin-top: 7px !important;} 
  .ml-10{ margin-left: 10px;}
  .header-small {font-size:15px !important;} 
  p { margin: 0 !important; padding: 0 !important; line-height: 1.6; font-size: 19px !important; } 
  .font-weight-bold { font-size: 21px !important;} 
  .text-center {text-align: center !important;} 
  .mx-auto {margin-left: auto; margin-right: auto;} 
  .header-details {font-size: 16px !important;} 
  input {  border:0 !important; font-weight: bold; border-bottom: 1px solid #000 !important} 
  .header .font-weight-bold {font-size: 15px !important;} 
  .d-flex{ display: flex; } 
  .card-body{margin:20px}  
  table.table-bordered>tbody>tr>td{border:1px solid #000;}
  table.table-bordered>tbody>tr>td .form-input{ width: 100%; border:none !important;}
  .flex-column{ flex-direction: column;}
  .justify-content-between{ padding: 0 10px;
    align-items: center; flex: 1;   display: flex;
    justify-content: space-between;}
  table{border-collapse: collapse;} 
  .w-full{width: 100%;}
  .align-top{
    align-items: flex-start;
  }
  .py-5{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .nowrap{
        margin-right: 94.5px;
    white-space:nowrap
  }
  .d-flex{display:flex}.flex-1{flex:1}
</style>