<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body">
      <div id="printable-section">
        <Header />

        <p class="font-weight-bold text-center">BILET DE TRIMITERE</p>
        <br />
        <br />
        <p>Către Dispensarul TB {{ buletin.meta.dispensar }} Județul {{ buletin.meta.judet.name }} Numele {{ pacient.nume }} Prenumele {{ pacient.prenume }} CNP {{ pacient.cnp }} Sex {{ pacient.gen }} Vârstă {{ pacient.varsta }} Domiciliul: Județul {{ pacient.judet_domiciliu }} Adresa {{ pacient.adresa_domiciliu }}</p>
        <br />
        <br />
        <p>Motivul trimiterii: {{ buletin.meta.motiv }}</p>
        <br />
        <p>
          Simptome/semne clinice: {{ buletin.meta.simptome }}
          <br />
        </p>
        <br />
        <p>Modificări radiologice toracice: {{ buletin.meta.modificari_toracice }}</p>
        <br />
        <br />
        <br />

        <table>
          <tr>
            <td>
              Numele și prenumele,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <br />........................................
            </td>
            <td>
              Semnătura,
              <br />........................................
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";

export default {
  name: "BiletTrimitere",
  components: { Header },
  data() {
    return {
      buletin: {},
      niceDate: "",
      pacient: {}
    };
  },
  created() {
    this.buletin = this.$route.query.buletin;
    this.pacient = this.$route.query.pacient;
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        style:
          ".font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} .header-small {font-size:12px !important;} p { margin: 0 !important; padding: 0 !important; line-height: 1; } .text-center {text-align: center !important;} .mx-auto {margin-left: auto; margin-right: auto;} .header-details {font-size: 16px !important;}"
      });
    }
  }
};
</script>