<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body">
      <div id="printable-section">
        <Header />

        <p class="font-weight-bold text-center">BULETIN DE INTERPRETARE RADIOLOGICĂ TORACICĂ</p>
        <p class="text-center">Nr. {{ buletin.id }}</p>
        <p class="text-center mb-5">{{ niceDate }}</p>
        <br />
        <br />
        <p>
          Nume
          <span class="font-weight-bold">{{ pacient.nume }}</span> Prenume
          <span class="font-weight-bold">{{ pacient.prenume }}</span> CNP
          <span class="font-weight-bold">{{ pacient.cnp }}</span> Adresa
          <span class="font-weight-bold">{{ pacient.adresa_domiciliu }}</span> Judetul
          <span class="font-weight-bold">{{ pacient.judet }}</span>
        </p>
        <br />
        <p>
          Rezultatul examinarii
          <br />
          {{buletin.rezultat}}
        </p>
        <br />
        <p>
          Recomandari
          <br />
          {{buletin.recomandari}}
        </p>
        <br />
        <br />
        <br />
        <br />

        <table>
          <tr>
            <td>Data {{ niceDate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
              Semnătura și parafa medicului
              <br />........................................
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";

export default {
  name: "BuletinInterpretare",
  components: { Header },
  data() {
    return {
      buletin: {},
      niceDate: "",
      pacient: {}
    };
  },
  mounted() {
    this.buletin = this.$route.query.buletin;
    this.niceDate = this.$route.query.niceDate;
    this.pacient = this.$route.query.pacient;
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        style:
          ".font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} .header-small {font-size:12px !important;} p { margin: 0 !important; padding: 0 !important; line-height: 1; } .text-center {text-align: center !important;} .mx-auto {margin-left: auto; margin-right: auto;} .header-details {font-size: 16px !important;}"
      });
    }
  }
};
</script>