<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body">
      <div id="printable-section">
        <Header />
        <p class="font-weight-bold text-center">DECLARAȚIE DE EVITARE A DUBLEI FINANȚĂRI</p>
        <br />
        <br />

        <p>
          Subsemnatul/a (nume, prenume) {{pacient.nume}} {{pacient.prenume}}, domiciliat/ă în localitatea {{pacient.oras_domiciliu || pacient.oras}} judeţul {{pacient.judet_domiciliu || pacient.oras}}, adresa {{pacient.adresa_domiciliu}}, posesor/posesoare a CI seria
          {{pacient.informatii_generale.serieBuletin || '...........................'}}, numărul
          {{pacient.informatii_generale.nrBuletin || '...........................'}}, eliberată de
          {{pacient.informatii_generale.eliberatDeBuletin || '...........................'}}, la data de
          {{pacient.informatii_generale.dataEliberareBuletin || '...........................'}}, având CNP {{pacient.cnp}}, declar pe propria răspundere că nu am mai participat la un alt proiect finanțat din fonduri nerambursabile, în același domeniu de activitate – screening TB, cu activități de formare profesională specifică TB si activitati de screening TB, precum cele din proiectul
          <span
            class="font-weight-bold"
          >„Organizarea de programe de depistare precoce (screening), diagnostic și tratament precoce al tuberculozei, inclusiv al tuberculozei latente”, COD SMIS 2014+: 117426</span>
          <br />
          <br />De asemenea, mi s-au adus la cunoștință drepturile, obligațiile și beneficiile obținute prin participarea la acest proiect și subscriu pentru acestea. Nerespectarea obligațiilor va fi sancționată prin excluderea din cadrul proiectului.
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </p>
        <div class="justify-content-between">
          <div>
              Data:
              <br />
              <input type="text" class="form-input" />
          </div>
          <div class="text-right">
              Nume, prenume și semnătura:
              <br />
              <input type="text" class="form-input" :value="pacient.nume + ' ' + pacient.prenume" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";

export default {
  name: "Formular4",
  components: { Header },
  data() {
    return {
      pacient: {}
    };
  },
  created() {
    this.pacient = this.$route.query.pacient;
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        header: `<div style="text-align: center;"><img src="/assets/images/header.png" style="width: 100%; margin-top: 50px;" /></div>`,
        footer: `<div style="text-align: center;"><img src="/assets/images/footer.png" style="width: 100%; margin-top: 50px;" /></div>`,
        style:`
        .font-weight-bold {font-weight: bold;} 
        .mb-5 {margin-bottom: 2rem;} 
        .header-small {font-size:12px !important;} 
        p { margin-bottom: 1rem !important; line-height: 1.6; } 
        .text-center {text-align: center !important;}
        .text-right {text-align: right !important;} 
        .mx-auto {margin-left: auto; margin-right: auto;} 
        .header-details {font-size: 16px !important;} 
        .w-300 { width:300px }
        input.form-input { border:0 !important; font-weight: bold; border-bottom: 1px dotted #000 !important; }
        .justify-content-between{ padding: 0 10px; align-items: center; flex: 1; display: flex;  justify-content: space-between;}
        ` 
      });
    }
  }
};
</script>

<style lang="scss" scoped>
    .font-weight-bold {font-weight: bold;} 
    .mb-5 {margin-bottom: 2rem;} 
    .header-small {font-size:12px !important;} 
    p { margin-bottom: 1rem !important; line-height: 1.6; } 
    .text-center {text-align: center !important;}
    .text-right {text-align: right !important;} 
    .mx-auto {margin-left: auto; margin-right: auto;} 
    .header-details {font-size: 16px !important;}
    input.form-input { border:0 !important; font-weight: bold; border-bottom: 1px dotted #000 !important; }
    .justify-content-between{ padding: 0 10px; align-items: center; flex: 1; display: flex;  justify-content: space-between;}
</style>