<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body">
      <div id="printable-section">
        <Header />

        <p class="font-weight-bold text-center">
          ANGAJAMENT
          <br />de disponibilitate față de activitățile proiectului
        </p>
        <br />
        <br />
        Subsemnatul(a) {{pacient.nume}} {{ pacient.prenume}}, CNP {{pacient.cnp}}, candidat la grupul țintă al proiectului
        <span
          class="font-weight-bold"
        >„Organizarea de programe de depistare precoce (screening), diagnostic și tratament precoce al tuberculozei, inclusiv al tuberculozei latente”,</span> Cod SMIS 2014+: 117426) , declar pe propria răspundere că am fost informat(a) despre obiectivele și activitățile proiectului, și mă angajez să respect cerințele programului, să particip la toate activitățile care îmi revin și sa întocmesc toate documentele solicitate.
        <br />
        <br />
        <div class="justify-content-between">
          <div>
              Data:
              <br />
              <input type="text" class="form-input" />
          </div>
          <div class="text-right">
              Nume, prenume și semnătura:
              <br />
              <input type="text" class="form-input" :value="pacient.nume + ' ' + pacient.prenume" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";

export default {
  name: "Formular5",
  components: { Header },
  data() {
    return {
      pacient: {}
    };
  },
  created() {
    this.pacient = this.$route.query.pacient;
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        header: `<div style="text-align: center;"><img src="/assets/images/header.png" style="width: 100%; margin-top: 50px;" /></div>`,
        footer: `<div style="text-align: center;"><img src="/assets/images/footer.png" style="width: 100%; margin-top: 50px;" /></div>`,
        style:`
          input.form-input { border:0 !important; font-weight: bold; border-bottom: 1px dotted #000 !important; }
          .font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} .header-small {font-size:12px !important;} p { margin: 0 !important; padding: 0 !important; line-height: 1.6; } .text-center {text-align: center !important;} .mx-auto {margin-left: auto; margin-right: auto;} .header-details {font-size: 16px !important;} input { border:0 !important; font-weight: bold; }
          .justify-content-between{ padding: 0 10px; align-items: center; flex: 1; display: flex;  justify-content: space-between;}
          `
      });
    }
  }
};
</script>

<style lang="scss" scoped>
  .justify-content-between{
    padding: 0 10px; align-items: center; flex: 1; display: flex;  justify-content: space-between;
  }
  input.form-input { 
    border:0 !important;
    font-weight: bold;
    border-bottom: 1px dotted #000 !important; 
  }
</style>