<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body">
      <div id="printable-section">
        <div>
          <div>
            <span class="font-weight-bold">
              <i>Anexa 1</i>
            </span>
            <p class="font-weight-bold text-center">ACORD DE FOLOSIRE A IMAGINII ȘI DECLARAȚIILOR</p>
            Subsemnatul/a {{pacient.nume}} {{pacient.prenume}}, domiciliat {{pacient.adresa_resedinta}}, județul {{pacient.judet_resedinta}}, posesor al CI/BI seria {{pacient.serieBuletin}}, Nr. {{pacient.nrBuletin}}, CNP {{pacient.cnp}},
            <br />Declar prin prezenta că:
            <br />- am luat la cunoștință, am înțeles și sunt de acord să particip în cadrul acestui
            <i>Proiect</i> (Anexa
            1 la prezenta);
            <br />- îmi dau acordul în cunoștință de cauză pentru prelucrarea datelor mele cu caracter personal (inclusiv
            datele privind sănătatea și datele biometrice, respectiv fotografia și/sau vocea, după caz), în legătură
            cu și pentru următoarele scopuri ale
            <i>Proiectului</i>: ”acțiuni de educare, informare și
            conștientizare a publicului cu privire la depistarea precoce (screeningul), diagnosticul și tratamentul
            tuberculozei, în cadrul
            <i>Proiectului</i>”;
            <br />- am luat la cunoştinţă despre faptul că mă puteam opune acestor prelucrări de date, fără nicio
            consecință negativă asupra participării mele în cadrul
            <i>Proiectului</i>;
            <br />- sunt de acord cu înregistrarea și reproducerea, în orice mod, a înfăţişării mele fizice ori a vocii
            mele și expunerea lor în cuprinsul materialelor (audio/video/tipărite/electronice) elaborate de către
            partenerii
            <i>Proiectului</i> menționați în anexă, pentru scopul
            <i>Proiectului</i>;
            <br />- sunt de acord cu difuzarea de materiale (audio/ video/ tipărite/ electronice) conţinând imaginea mea,
            declarațiile mele referitoare la persoana mea, numele meu, date cu caracter personal privind starea mea
            de sănătate, problemele mele de diagnostic, prognostic, tratament, circumstanţe în legătură cu boala mea
            şi cu alte diverse fapte;
            <br />- sunt de acord să cedez partenerilor din Proiect, exclusiv și pe perioadă nedeterminată, drepturile de
            autor cu privire la declarațiile mele și imaginile cu privire la persoana mea oferite în cadrul acestui
            Proiect;
            <br />- nu am și nu voi avea nici o pretenție prezentă sau viitoare față de aceste difuzări/apariții/publicări
            așa cum sunt menționate mai sus;
            <br />- înțeleg și sunt de acord că datele vor fi procesate până când consimțământul va fi revocat sau cât
            este necesar în raport cu scopurile descrise mai sus, dar nu mai mult de 3 ani de la închiderea oficială
            a POCU 2014-2020. După ce perioada indicată expiră, datele mele personale vor fi șterse definitiv.
            - înțeleg că, în calitate de subiect de date cu caracter personal, am dreptul să solicit oricărui
            operator, următoarele: accesarea datelor mele personale, rectificarea lor, restricționarea prelucrării
            lor, portarea lor și copierea lor.
            <br />
            <br />În cazul în care solicitările mele nu sunt soluționate de către operator/operatori, înțeleg că am dreptul
            de a mă adresa Autorității Naţionale de Supraveghere a Prelucrării Datelor cu Caracter Personal.
            <br />Certific că am citit, am înţeles şi accept pe deplin cele de mai sus şi ca urmare le semnez.
            <br />
            <br />
            Nume: {{pacient.nume}} {{ pacient.prenume }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Semnătura: __________________________
            <br />Data:
            <input type="text" class="form-input" />
            <p class="font-weight-bold text-center text-underlined">
              ANEXA LA ACORD DE FOLOSIRE A IMAGINII ȘI
              DECLARAȚIILOR
            </p>
          </div>
          <br />
          <p>
            Proiectul
            <span
              class="font-weight-bold"
            >”Organizarea de programe de depistare precoce (screening), diagnostic si tratament precoce altuberculozei, inclusiv al tuberculozei latente”</span>,
            Contract nr. POCU/225/4/9/117426 (Cod SMIS 2014+: 117426) este implementat de următorii
            parteneri-operatori de date cu caracter personal:
            <br />
            <br />- Institutul de Pneumoftiziologie ”Marius Nasta” București în parteneriat cu: Asociația Română Anti-Sida
            (ARAS), Fundația Centrul pentru Politici și Servicii de Sănătate, Fundația Romanian Angel Appeal,
            Federația Uniunea Națională a Organizațiilor Persoanelor Afectate de HIV/SIDA (UNOPA), Asociația pentru
            Sprijinirea Pacienților cu Tuberculoză Multidrog-Rezistentă (ASPTMR) și SAMUSOCIAL din România
            (Serviciul de Ajutor Mobil de Urgenţă Socială), în perioada martie 2018 - februarie 2023.
            <br />
            <br />
            <span class="font-weight-bold">Scopul și obiectivele proiectului:</span> Promovarea incluziunii sociale,
            combaterea sărăciei și a oricărei forme de discriminare, prin creșterea accesului la servicii
            accesibile, durabile și de înaltă calitate, inclusiv asistență medicală și servicii sociale de interes
            general, prin organizarea de programe de sănătate și servicii orientate către prevenirea, depistarea
            precoce (screening), diagnostic și tratament precoce al tuberculozei, inclusiv al tuberculozei latente,
            pentru 75010 persoane aparținând grupurilor vulnerabile, inclusiv derularea de activități de sprijin și
            asistență, inclusiv subvenții, pentru 15003 persoane din grupurile vulnerabile, completate de activități
            de informare, educare si conștientizare a grupului ținta, precum si prin organizarea de programe de
            formare pentru 560 de persoane în vederea asigurării unui nivel de competențe îmbunătățit al
            profesioniștilor implicați în prevenirea, depistarea precoce (screening), diagnosticul și tratamentul
            precoce al tuberculozei și tuberculozei latente.
            <br />
            <br />
            <span class="font-weight-bold">Beneficiile pentru grupul țintă:</span>
            Prin activitățile și obiectivele
            proiectului se asigură accesul persoanelor din grupul țintă la metode rapide de diagnostic, se
            îmbunătățește rata de diagnostic a cazurilor de tuberculoză sensibilă, se încurajează tratamentul
            medical și de suport al cazurilor de tuberculoză, sprijinul financiar al persoanelor sărace, precum și
            îmbunătățirea capacității sistemului sanitar de control al tuberculozei. Toate aceste obiective sunt
            aferente Strategiei Naționale de Control al Tuberculozei în România 2015-2020. Pregătirea personalului
            implicat în tratamentul tuberculozei, precum și creșterea competențelor acestora oferă o permeabilitate
            mai mare în teritoriu a serviciilor de sănătate de calitate conforme normativelor Organizației Mondiale
            a Sănătății.
          </p>
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";
import printJS from "../../util/print";

export default {
  name: "Formular7",
  components: { Header },
  data() {
    return {
      pacient: {}
    };
  },
  created() {
    this.pacient = this.$route.query.pacient;
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        header: `<div style="text-align: center;"><img src="/assets/images/header.png" style="width: 100%; margin-top: 50px;" /></div>`,
        footer: `<div style="text-align: center;"><img src="/assets/images/footer.png" style="width: 100%; margin-top: 50px;" /></div>`,
        type: "html",
           style:
          ".font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} .header-small {font-size:12px !important;} p { margin: 0 !important; padding: 0 !important; line-height: 1.6; } .text-center {text-align: center !important;} .mx-auto {margin-left: auto; margin-right: auto;} .header-details {font-size: 16px !important;} input { border:0 !important; font-weight: bold; }"
        });
    }
  }
};
</script>

<style lang="scss" scoped>
input {
  border-bottom: 1px solid red !important;
  font-weight: bold;
}
</style>