<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-primary btn-block btn-lg mb-4" @click="print">
        <i class="fas fa-print mr-2"></i>
        Tipareste
      </button>
    </div>
    <div class="card-body">
      <div id="printable-section">
        <Header />
        <p class="font-weight-bold text-center">OPISUL DOCUMENTELOR DOSAR GRUP ȚINTĂ</p>
        <br />
        <br />
        <p>
          Locatia Screening-ului:
          <input type="text" v-model="locIntrare" class="form-input" />
        </p>
        <div class="d-flex">
          <div class="flex-1 d-flex">
            <span class="nowrap">Nume / Prenume:</span>
            <input type="text" v-model="numePrenumeBeneficiar" class="form-input flex-1" />
            </div>
         <div> 
           Data
           <input type="text" class="form-input" />
          </div>
        </div>
        <br />
        <table class="table-bordered w-100">
          <thead>
            <tr>
              <th>
                Nr.
                <br />Crt
              </th>
              <th class="text-center">Denumire document</th>
              <th class="text-center">Prezent</th>
              <th class="text-center">N/A</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(col,index) of coloane" :key ="index">
              <td class="text-center">{{index+1}}.</td>
              <td>
                {{col.name}}
              </td>
              <td class="text-center">
                <input type="radio" value="da" v-model="col.prezent"/>
              </td>
              <td class="text-center">
                <input type="radio" value="nu" v-model="col.prezent"/>
              </td>
            </tr>
          </tbody>
        </table>
        <br />
        <br />
        <p>
          Întocmit,
          <br />Expert grup țintă,
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../Formular/Header";

export default {
  name: "BiletTrimitere",
  components: { Header },
  data() {
    return {
      locIntrare: "",
      numePrenumeBeneficiar: null,
      coloane:[
        {prezent:null,name:"Formularul de inregistrare individuala a participantilor la operatiunile finantate prin POCU 2014-2020"},
        {prezent:null,name:"Act de identitate (copie)"},
        {prezent:null,name:"Declaratie pe propria raspundere ca nu are acte de identitate"},
        {prezent:null,name:"Declaratie pe propria raspundere ca fac parte din categoria persoanelor fara adapost /consumatori de droguri"}		,
        {prezent:null,name:"Declaratie din partea asociatiei ca face parte din grupul tinta vulnerabil pafa/consumatori de droguri/alte categorii"}		,
        {prezent:null,name:"Declaratie de evitare a dublei finantari"},
        {prezent:null,name:"Angajament de disponibilitate fata de activitatile proiectului"},
        {prezent:null,name:"Consimtamant privind acordul de prelucrare a datelor cu caracter personal (Anexa 1/ Anexa 2)"},
        {prezent:null,name:"Chestionar de colectare date medicale"},
        {prezent:null,name:"Grila evaluare"},
        {prezent:null,name:"Buletin de interpretare radiologica toracica"},
        {prezent:null,name:"Buletin de trimitere catre specialist"},
        {prezent:null,name:"Rezultat Genexpert"},
        {prezent:null,name:"Documente justificative activitatea de sprijin si asistenta"},
        {prezent:null,name:"Documente justificative subventii/pachete igienico-sanitare"},
      ]
    };
  },
  created() {
    this.numePrenumeBeneficiar =
      this.$route.query.pacient.nume + " " + this.$route.query.pacient.prenume;
  },
  methods: {
    print() {
      return printJS({
        printable: "printable-section",
        type: "html",
        style: `
        .font-weight-bold {font-weight: bold;}
        .mb-5 {margin-bottom: 2rem;} 
        .header-small {font-size:12px !important;} 
        p { margin: 0 !important; padding: 0 !important; line-height: 1; } 
        .text-center {text-align: center !important;} 
        .mx-auto {margin-left: auto; margin-right: auto;} 
        .header-details {font-size: 16px !important;} 
        .form-input{ border:0 !important; font-weight: bold; border-bottom: 1px dotted #000 !important}
        .w-100{width: 100%;}
        .d-flex{display: flex;  }
        .flex-1{flex-grow: 1;}
        .nowrap{white-space: nowrap;}
        table.table-bordered>thead>tr>th{border:1px solid #000;}
        table.table-bordered>tbody>tr>td{border:1px solid #000;}
        table.table-bordered{border-collapse: collapse;} 

          `
      });
    }
  }
};
</script>

<style lang="scss" scoped>
  .font-weight-bold {font-weight: bold;}
  .mb-5 {margin-bottom: 2rem;} 
  .header-small {font-size:12px !important;} 
  p { margin: 0 !important; padding: 0 !important; line-height: 1; } 
  .text-center {text-align: center !important;} 
  .mx-auto {margin-left: auto; margin-right: auto;} 
  .header-details {font-size: 16px !important;} 
  .form-input{ border:0 !important; font-weight: bold; border-bottom: 1px dotted #000 !important}
  .w-100{width: 100%;}
  .d-flex{display: flex;  }
  .flex-1{flex-grow: 1;}
  .nowrap{white-space: nowrap;}
  table.table-bordered>thead>tr>th{border:1px solid #000;}
  table.table-bordered>tbody>tr>td{border:1px solid #000;}
  table.table-bordered{border-collapse: collapse;} 
</style>