.page-wrapper .page-body-wrapper .page-sidebar .sidebar-user {
  padding: 14px 10px;
}

.page-wrapper .page-body-wrapper .sidebar {
  height: 100vh;
}

.custom-scrollbar {
  --webkit-transition: none;
  transition: none;
}

.page-wrapper .page-body-wrapper .page-sidebar {
  --webkit-transition: none;
  transition: none;
}

