<template>
  <li class="onhover-dropdown">
    <i data-feather="bell"></i>
    <span class="dot"></span>
    <ul class="notification-dropdown onhover-show-div">
      <li>
        Notificari
        <span class="badge badge-pill badge-primary pull-right">3</span>
      </li>
      <li>
        <div class="media">
          <div class="media-body">
            <h6 class="mt-0">
              <span>
                <i class="shopping-color" data-feather="shopping-bag"></i>
              </span>Test info
              <small class="pull-right">9:00 AM</small>
            </h6>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media-body">
            <h6 class="mt-0 txt-success">
              <span>
                <i class="download-color font-success" data-feather="download"></i>
              </span>Test success
              <small class="pull-right">2:30 PM</small>
            </h6>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media-body">
            <h6 class="mt-0 txt-danger">
              <span>
                <i class="alert-color font-danger" data-feather="alert-circle"></i>
              </span>Test eroare
              <small class="pull-right">5:00 PM</small>
            </h6>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer.</p>
          </div>
        </div>
      </li>
    </ul>
  </li>
</template>