<template>
  <ul class="sidebar-menu">
    <li class="mb-4" v-if="$auth.user().roles_array.includes('echipa-caravana')">
      <router-link class="btn btn-primary text-white" :to="{name: 'adauga-pacient'}">
        <img src="../../assets/adauga-pacient.svg" /> Adaugă pacient
      </router-link>
    </li>
    <li>
      <router-link class="sidebar-header" :to="{name: 'dashboard'}">
        <i data-feather="home"></i>
        <span>Dashboard</span>
      </router-link>
    </li>
    <li >
      <span>Grup țintă</span>
    </li>
    <li >
      <router-link class="sidebar-header" :to="{name: 'lista-pacienti'}">
        <i data-feather="list"></i>
        <span>Listă grup țintă</span>
      </router-link>
    </li>
    <li v-if="$auth.user().roles_array.includes('medic') || $auth.user().roles_array.includes('echipa-caravana')">
      <router-link class="sidebar-header" :to="{name: 'lista-expert-local'}">
        <i data-feather="list"></i>
        <span>Listă expert local</span>
      </router-link>
    </li>
    
    <li class="mt-3"  v-if="$auth.user().roles_array.includes('partener') || $auth.user().roles_array.includes('echipa-caravana')">
      <span>Coordonare regiune</span>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <router-link class="sidebar-header" :to="{name: 'lista-evenimente'}">
        <i data-feather="list"></i>
        <span>Listă evenimente</span>
      </router-link>
    </li>
    <li v-if="$auth.user().roles_array.includes('partener') || $auth.user().roles_array.includes('echipa-caravana')">
      <router-link class="sidebar-header" :to="{name: 'calendar'}">
        <i data-feather="calendar"></i>
        <span>Calendar</span>
      </router-link>
    </li>
    <li v-if="$auth.user().roles_array.includes('partener')">
      <router-link class="sidebar-header" :to="{name: 'mobilizare-comunitati'}">
        <i data-feather="info"></i>
        <span>Mobilizare Comunitati</span>
      </router-link>
    </li>

    <li class="mt-3"  v-if="$auth.user().roles_array.includes('echipa-caravana')">
      <span>Logistică</span>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-caravana')">
      <router-link class="sidebar-header" :to="{name: 'registru-doza-radiatie'}">
        <i data-feather="book-open"></i>
        <span>Registru radiații</span>
      </router-link>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <router-link class="sidebar-header" :to="{name: 'admin.stocuri'}">
        <i data-feather="archive"></i>
        <span>Stocuri</span>
      </router-link>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-caravana')">
      <router-link class="sidebar-header" :to="{name: 'admin.stocuri-pv-add'}">
        <i data-feather="file"></i>
        <span>PV Scadere stoc</span>
      </router-link>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-caravana')">
      <router-link class="sidebar-header" :to="{name: 'pv-inchidere-tura'}">
        <i data-feather="file"></i>
        <span>PV predare-primire</span>
      </router-link>
    </li>
    <li class="mt-3" v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <span>Rapoarte</span>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <router-link class="sidebar-header" :to="{name: 'raport-stocuri'}">
        <i data-feather="list"></i>
        <span>Stocuri caravane</span>
      </router-link>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <router-link class="sidebar-header" :to="{name: 'raport-pacienti'}">
        <i data-feather="list"></i>
        <span>Raport pacienti</span>
      </router-link>
    </li>
    <li class="mt-3" v-if="$auth.user().roles_array.includes('echipa-caravana')">
      <span>Spute</span>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-caravana')">
      <router-link class="sidebar-header" :to="{name: 'lista-spute'}">
        <i data-feather="list"></i>
        <span>Lista spute</span>
      </router-link>
    </li>
    <li class="mt-3" v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <span>Parc auto</span>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <router-link class="sidebar-header" :to="{name: 'admin.parc-auto'}">
        <i data-feather="info"></i>
        <span>Lista masini</span>
      </router-link>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <router-link class="sidebar-header" :to="{name: 'admin.info-caravana'}">
        <i data-feather="info"></i>
        <span>Caravane</span>
      </router-link>
    </li>
    <li class="mt-3" v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <span class="text-muted">Administrare platforma</span>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <router-link class="sidebar-header" :to="{name: 'admin.personal'}">
        <i data-feather="users"></i>
        <span>Personal medical</span>
      </router-link>
    </li>
    <li v-if="$auth.user().roles_array.includes('echipa-implementare')">
      <router-link class="sidebar-header" :to="{name: 'admin.utilizatori'}">
        <i data-feather="users"></i>
        <span>Utilizatori</span>
      </router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: "SidebarMenu",
  data() {
    return {
      rol: null
    };
  },
  created() {
    this.rol = this.$auth.user().roles_array.length
      ? this.$auth.user().roles_array[0]
      : null;
  }
};
</script>