<template>
  <div class="card">
    <div class="card-header">
      <h5>Caravana {{ caravana.id }}</h5>
    </div>
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-12">
          <h5>Șofer</h5>
        </div>

        <div class="col-12 col-md-6 mb-4">
          <label>Nume</label>
          <input type="text" class="form-control" v-model="caravana.sofer_nume" />
        </div>
        <div class="col-12 col-md-6 mb-4">
          <label>Prenume</label>
          <input type="text" class="form-control" v-model="caravana.sofer_prenume" />
        </div>

        <div class="col-12">
          <h5>Caravană</h5>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <label class="d-block">Număr înmatriculare</label>
          <input type="text" class="form-control" v-model="caravana.numar_inmatriculare" />
        </div>
        <div class="col-12 col-md-4 mb-4">
          <label class="d-block">Dată expirare ITP</label>
          <datepicker v-model="caravana.exp_itp" :format="formatDate" input-class="form-control" />
        </div>
        <div class="col-12 col-md-4 mb-4">
          <label class="d-block">Dată expirare RCA</label>
          <datepicker
            v-model="caravana.exp_rca"
            :format="formatDate"
            :bootstrap-styling="true"
            input-class="form-control"
          />
        </div>

        <div class="col-12 pt-4 mb-4">
          <div class="pt-5" style="border-top: 1px dashed #ccc;">
            <label class="d-block">Note adiționale</label>
            <textarea v-model="caravana.note" class="form-control" />
          </div>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" @click="proceed">
            <img src="../../assets/save.svg" /> Salveaza modificari
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Datepicker from "vuejs-datepicker";
import moment from "moment";

export default {
  name: "ViewCaravana",
  components: { Datepicker },
  data() {
    return {
      caravana: {}
    };
  },
  created() {
    this.getCaravana();
  },
  methods: {
    formatDate(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    getCaravana() {
      this.$http({
        url: `info-caravana/${this.$route.params.caravanaId}`,
        method: "GET"
      }).then(
        res => {
          this.caravana = res.data.caravana;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    proceed() {
      this.$http({
        url: `info-caravana`,
        method: "POST",
        data: this.caravana
      }).then(
        res => {
          this.success = res.data.success;
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Modificarile au fost savate cu succes!"
          });
        },
        () => {
          this.has_error = true;
        }
      );
    }
  }
};
</script>