<template>
  <tr v-if="!hide">
    <td>
      <div>{{product.details.denumire}}</div>
    </td>
    <td>
      <div>{{product.details.categorie}}</div>
    </td>
    <td>
      <div>{{product.details.um}}</div>
    </td>
    <td>
      <input type="text" class="form-control" v-model="product.quantity" v-if="editable" />
      <div v-else>
        <span class="badge badge-danger" v-if="product.quantity === 0">{{product.quantity}}</span>
        <span v-else>{{product.quantity}}</span>
      </div>
    </td>
  </tr>
</template>

<script>
import Errors from "../Errors";

export default {
  name: "ProductRow",
  props: ["product"],
  components: { Errors },
  data() {
    return {
      errors: false,
      editable: false,
      hide: false
    };
  },
  methods: {
    edit() {
      this.editable = true;
    },
    update() {
      this.$http({
        url: `info-caravana/update-product`,
        method: "POST",
        data: {
          ...this.product
        }
      }).then(
        res => {
          this.editable = false;
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Modificarile au fost savate cu succes!"
          });
        },
        () => {
          this.errors = err.response.data.errors;
        }
      );
    }
  }
};
</script>

<style lang="scss" scoped>
tr.alert-stoc {
  td {
    background-color: rgba(255, 170, 170, 0.4);
  }
}
</style>