<template>
  <div class="container-fluid" v-if="view === false">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5>Listă caravane</h5>
            <router-link
              :to="{name: 'admin.add-caravana'}"
              class="btn btn-secondary"
            >Adaugă caravană</router-link>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Denumire</th>
                  <th>Număr înmatriculare</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(caravana, index) in caravane" :key="index">
                  <td>Caravana {{ caravana.id }}</td>
                  <td>{{ caravana.numar_inmatriculare }}</td>
                  <td>
                    <router-link
                      :to="{name: 'admin.caravana-details', params: {caravanaId: caravana.id}}"
                      class="btn btn-primary"
                    >Deschide</router-link>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <CaravanaView :caravana="view" v-else />
</template>

<script>
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  name: "InfoCaravana",
  components: { DatePicker },
  data() {
    return {
      view: false,
      caravane: []
    };
  },
  created() {
    this.getCaravane();
  },
  methods: {
    getCaravane() {
      this.$http({
        url: `info-caravana/list`,
        method: "GET"
      }).then(
        res => {
          this.caravane = res.data.caravane;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  }
};
</script>