<template>
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Parc auto</h5>
            <v-dialog v-model="dialog" max-width="700px">
              <template v-slot:activator="{ on }">
                <button class="btn btn-secondary" v-on="on">Adaugă</button>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Adaugă / Modifică</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="6">
                        <label>Număr înmatriculare</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="editedItem.numar_inmatriculare"
                          label="Număr înmatriculare"
                        />
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <label>Expirare ITP</label>
                        <vc-date-picker mode="single" v-model="editedItem.itp" />
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <label>Expirare RCA</label>
                        <vc-date-picker mode="single" v-model="editedItem.rca" />
                      </v-col>
                      <v-col cols="12" sm="12" md="12">
                        <label>Observatii</label>
                        <textarea
                          type="text"
                          class="form-control"
                          v-model="editedItem.extra"
                          label="Observatii"
                        ></textarea>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <div class="row">
                    <div class="col-12" v-if="addErrors">
                      <Errors v-if="addErrors" :errors="addErrors" />
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                      <button class="btn btn-danger mr-2" @click="close">Revocare</button>
                      <button class="btn btn-primary" @click="save">Salvare</button>
                    </div>
                  </div>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <div class="table-responsive p-5" v-if="loading">
            <i class="fas fa-spinner fa-spin fa-2x"></i>
          </div>

          <v-data-table :headers="headers" :items="members" sort-by="id" class="elevation-1">
            <template v-slot:item.itp="{ item }">{{ moment(item.itp).format("DD.MM.YYYY")}}</template>
            <template v-slot:item.rca="{ item }">{{ moment(item.rca).format("DD.MM.YYYY")}}</template>
            <template v-slot:item.actions="{ item }">
              <div v-if="item.type !== 'caravana'">
                <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
                <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
              </div>
            </template>
          </v-data-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../components/Errors";
import moment from "moment";
import feather from "feather-icons";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      filter: null,
      moment: moment,
      addMembru: false,
      addErrors: false,
      addSuccess: false,
      loading: true,
      toadd: {},
      members: [],
      dialog: false,
      headers: [
        { text: "Denumire", value: "denumire" },
        { text: "Numar inmatriculare", value: "numar_inmatriculare" },
        { text: "ITP", value: "itp" },
        { text: "RCA", value: "rca" },
        { text: "Extra", value: "extra" },
        { text: "Actiuni", value: "actions", sortable: false }
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        id: null,
        echipa: "",
        nume: "",
        functie: "",
        telefon: "",
        fax: "",
        email: ""
      },
      defaultItem: {
        id: null,
        echipa: "",
        nume: "",
        functie: "",
        telefon: "",
        fax: "",
        email: ""
      }
    };
  },
  components: { Errors },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.getPersonal();
  },
  mounted() {
    feather.replace();

    /* window.EventBus.$on("update-stoc", id => this.handleUpdateStoc(id)); */
  },
  methods: {
    handleAddRow() {
      this.addMembru = true;
    },
    getPersonal() {
      this.loading = true;
      this.members = [];
      this.$http({
        url: `parc-auto`,
        method: "GET"
      }).then(
        res => {
          if (res.data.caravane.length) {
            res.data.caravane.forEach(item => {
              this.members.push({
                ...item,
                id: "c" + item.id,
                type: "caravana",
                denumire: `Caravana ${item.id}`,
                itp: new Date(item.exp_itp),
                rca: new Date(item.exp_rca),
                extra: item.note
              });
            });
          }
          if (res.data.masini.length) {
            res.data.masini.forEach(item => {
              this.members.push({
                ...item,
                type: "auto",
                itp: new Date(item.itp),
                rca: new Date(item.rca),
                denumire: `Auto ${item.id}`
              });
            });
          }
          this.loading = false;
        },
        () => {
          this.addErrors = res.data.errors;
        }
      );
    },
    editItem(item) {
      this.editedIndex = this.members.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.members.indexOf(item);
      confirm("Esti sigur ca vrei sa stergi acest element?") &&
        this.members.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        this.addSuccess = false;
        this.addErrors = false;
        this.$http({
          url: `parc-auto/${this.editedItem.id}`,
          method: "POST",
          data: { ...this.editedItem }
        }).then(
          res => {
            if (res.data.status === "success") {
              this.addSuccess = res.data.success;
              Object.assign(this.members[this.editedIndex], this.editedItem);
              this.$notify({
                group: "foo",
                title: "Succes",
                type: "success",
                position: "bottom right",
                text: "Modificarile au fost salvate!"
              });
              this.close();
            } else {
              this.addErrors = res.data.errors;
            }
          },
          err => {
            console.error(err.response);
            this.addErrors = err.response.data.errors;
          }
        );
      } else {
        this.addSuccess = false;
        this.addErrors = false;
        this.$http({
          url: `parc-auto/store`,
          method: "POST",
          data: { ...this.editedItem }
        }).then(
          res => {
            if (res.data.status === "success") {
              this.addSuccess = res.data.success;
              this.members.push(res.data.masina);
              this.toadd = {};
              this.$notify({
                group: "foo",
                title: "Succes",
                type: "success",
                position: "bottom right",
                text: "Membrul a fost adaugat!"
              });
              this.close();
            } else {
              this.addErrors = res.data.errors;
            }
          },
          err => {
            console.error(err.response);
            this.addErrors = err.response.data.errors;
          }
        );
        // this.desserts.push(this.editedItem);
      }
    }
  }
};
</script>

<style lang="scss">
.fa-plus-circle {
  cursor: pointer;
}
</style>