<template>
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Lista personal</h5>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <button class="btn btn-secondary" v-on="on">Adaugă membru</button>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Adaugă / Modifică</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="6">
                        <label>Echipa</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="editedItem.echipa"
                          label="Echipa"
                        />
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <label>Nume și prenume</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="editedItem.nume"
                          label="Nume"
                        />
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <label>Funcție</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="editedItem.functie"
                          label="Funcție"
                        />
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <label>Telefon</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="editedItem.telefon"
                          label="Telefon"
                        />
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <label>Fax</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="editedItem.fax"
                          label="Fax"
                        />
                      </v-col>
                      <v-col cols="12" sm="6" md="6">
                        <label>Email</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="editedItem.email"
                          label="Email"
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <div class="row">
                    <div class="col-12" v-if="addErrors">
                      <Errors v-if="addErrors" :errors="addErrors" />
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                      <button class="btn btn-danger mr-2" @click="close">Revocare</button>
                      <button class="btn btn-primary" @click="save">Salvare</button>
                    </div>
                  </div>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          <div class="table-responsive p-5" v-if="loading">
            <i class="fas fa-spinner fa-spin fa-2x"></i>
          </div>

          <v-data-table :headers="headers" :items="members" sort-by="id" class="elevation-1">
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
              <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
            </template>
          </v-data-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../components/Errors";

import feather from "feather-icons";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      filter: null,
      addMembru: false,
      addErrors: false,
      addSuccess: false,
      loading: true,
      toadd: {},
      members: [],
      dialog: false,
      headers: [
        { text: "ID", value: "id" },
        {
          text: "Echipa",
          value: "echipa"
        },
        { text: "Nume", value: "nume" },
        { text: "Functie", value: "functie" },
        { text: "Telefon", value: "telefon" },
        { text: "Fax", value: "fax" },
        { text: "Email", value: "email" },
        { text: "Actions", value: "actions", sortable: false }
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        id: null,
        echipa: "",
        nume: "",
        functie: "",
        telefon: "",
        fax: "",
        email: ""
      },
      defaultItem: {
        id: null,
        echipa: "",
        nume: "",
        functie: "",
        telefon: "",
        fax: "",
        email: ""
      }
    };
  },
  components: { Errors },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.getPersonal();
  },
  mounted() {
    feather.replace();

    /* window.EventBus.$on("update-stoc", id => this.handleUpdateStoc(id)); */
  },
  methods: {
    handleAddRow() {
      this.addMembru = true;
    },
    getPersonal() {
      this.loading = true;
      this.$http({
        url: `personal`,
        method: "GET"
      }).then(
        res => {
          this.members = res.data.members;
          this.loading = false;
        },
        () => {
          this.addErrors = res.data.errors;
        }
      );
    },
    editItem(item) {
      this.editedIndex = this.members.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.members.indexOf(item);
      confirm("Esti sigur ca vrei sa stergi acest element?") &&
        this.members.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        this.addSuccess = false;
        this.addErrors = false;
        this.$http({
          url: `personal/${this.editedItem.id}`,
          method: "POST",
          data: { ...this.editedItem }
        }).then(
          res => {
            if (res.data.status === "success") {
              this.addSuccess = res.data.success;
              Object.assign(this.members[this.editedIndex], this.editedItem);
              this.$notify({
                group: "foo",
                title: "Succes",
                type: "success",
                position: "bottom right",
                text: "Modificarile au fost salvate!"
              });
              this.close();
            } else {
              this.addErrors = res.data.errors;
            }
          },
          err => {
            console.error(err.response);
            this.addErrors = err.response.data.errors;
          }
        );
      } else {
        this.addSuccess = false;
        this.addErrors = false;
        this.$http({
          url: `personal/store`,
          method: "POST",
          data: { ...this.editedItem }
        }).then(
          res => {
            if (res.data.status === "success") {
              this.addSuccess = res.data.success;
              this.members.push(res.data.personal);
              this.toadd = {};
              this.$notify({
                group: "foo",
                title: "Succes",
                type: "success",
                position: "bottom right",
                text: "Membrul a fost adaugat!"
              });
              this.close();
            } else {
              this.addErrors = res.data.errors;
            }
          },
          err => {
            console.error(err.response);
            this.addErrors = err.response.data.errors;
          }
        );
        // this.desserts.push(this.editedItem);
      }
    }
  }
};
</script>

<style lang="scss">
.fa-plus-circle {
  cursor: pointer;
}
</style>