<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row mb-4" v-if="!created">
          <div class="col-12 mb-4">
            <label>Alege caravana</label>
            <select v-model="caravana" @change="handleCaravanChange" class="form-control">
              <option v-for="cr in caravane" :key="cr.id" :value="cr.id">Caravana {{ cr.id }}</option>
            </select>
          </div>

          <div class="row" v-if="selectedCaravana !== undefined">
            <div class="col-12 mb-4 table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Produs</th>
                    <th>Cantitate in caravana</th>
                    <th>Cantitate de scazut</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="produs in selectedCaravana.produse" :key="produs.id">
                    <td>{{ produs.details.denumire }}</td>
                    <td>{{ produs.quantity }}</td>
                    <td>
                      <input
                        class="form-control mb-2"
                        type="number"
                        v-model.number="produs.toRemove"
                      />
                      <div
                        class="alert alert-danger p-1"
                        v-if="produs.toRemove > produs.quantity"
                      >Maxim {{ produs.quantity }} buc</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mb-4">
              <button class="btn btn-primary" @click="handleProceed" v-if="canProceed">Genereaza PV</button>
            </div>
            <errors v-if="errors" :errors="errors" />
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-12 mb-4">
            <button class="btn btn-primary" @click="handlePrint('printable-section')">
              <i class="fas fa-print"></i> Tipărește formular
            </button>
          </div>
          <div class="col-12" id="printable-section">
            <h2 class="mb-5">Proces verbal eliminare produse din stoc Caravana {{ caravana }}</h2>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Produs</th>
                    <th>Cantitate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="produs in created.produse" :key="produs.product_id">
                    <td>{{ produs.product_name }}</td>
                    <td>{{ produs.quantity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import Errors from "../../components/Errors";

export default {
  data() {
    return {
      caravane: [],
      caravana: null,
      selectedCaravana: undefined,
      created: false,
      errors: false
    };
  },
  components: { Errors },
  created() {
    this.getCaravane();
  },
  computed: {
    canProceed() {
      let ret = true;
      let errors = undefined;
      if (this.selectedCaravana) {
        errors = this.selectedCaravana.produse.find(
          item => item.quantity < item.toRemove
        );
      }

      if (errors !== undefined) {
        ret = false;
      }

      return ret;
    }
  },
  methods: {
    handlePrint(section) {
      return printJS({
        printable: section,
        type: "html",
        style:
          ".font-weight-bold {font-weight: bold;} .mb-5 {margin-bottom: 2rem;} p {font-size:17px !important;}"
      });
    },
    handleCaravanChange() {
      this.selectedCaravana = this.caravane.find(
        item => item.id === this.caravana
      );
    },
    handleProceed() {
      this.errors = false;

      const produse = this.selectedCaravana.produse.map(item => {
        return {
          product_id: item.product_id,
          product_name: item.details.denumire,
          quantity: item.toRemove
        };
      });

      this.$http({
        url: `stocuri-pv/store`,
        method: "POST",
        data: {
          caravana_id: this.selectedCaravana.id,
          produse: produse
        }
      }).then(
        res => {
          this.created = res.data.element;
          this.created.produse = JSON.parse(this.created.produse);
        },
        err => {
          this.errors = err.response.data.errors || [err.response.data.message];
        }
      );
    },
    getCaravane() {
      this.$http({
        url: `info-caravana/list-with-details`,
        method: "GET"
      }).then(
        res => {
          this.caravane = res.data.caravane;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  }
};
</script>