<template>
  <div class="container-fluid" v-if="caravana">
    <div>
      <caravana-navigation />
    </div>

    <div class="router-view">
      <router-view />
    </div>
  </div>

</template>

<script>
import CaravanaNavigation from "../../components/Caravana/Navigation";

export default {
  data() {
    return {
      caravana: undefined
    };
  },
  components: { CaravanaNavigation },
  created() {
    this.getCaravana();
  },
  methods: {
    getCaravana() {
      this.$http({
        url: `info-caravana/${this.$route.params.caravanaId}`,
        method: "GET"
      }).then(
        res => {
          this.caravana = res.data.caravana;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  }
};
</script>