<template>
	<div class="container-fluid" v-if="success === false">
		<div class="card">
			<div class="card-header">
				<h5>Date de contact</h5>
			</div>
			<div class="card-body">
				<div class="row mb-4">
					<div class="col-12 col-md-6">
						<label for>Nume</label>
						<input type="text" class="form-control" v-model="details.nume" />
					</div>
					<div class="col-12 col-md-6">
						<label for>Prenume</label>
						<input type="text" class="form-control" v-model="details.prenume" />
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-12">
						<label>Adresa domiciliu</label>
						<input type="text" v-model="details.adresa_domiciliu" class="form-control" />
					</div>
					<!-- <div class="col-12 col-md-2">
						<label for>Strada</label>
						<input type="text" class="form-control" v-model="details.strada" />
					</div>
					<div class="col-12 col-md-2">
						<label for>Numar</label>
						<input type="text" class="form-control" v-model="details.numar" />
					</div>
					<div class="col-12 col-md-2">
						<label for>Bloc</label>
						<input type="text" class="form-control" v-model="details.bloc" />
					</div>
					<div class="col-12 col-md-2">
						<label for>Scara</label>
						<input type="text" class="form-control" v-model="details.scara" />
					</div>
					<div class="col-12 col-md-2">
						<label for>Etaj</label>
						<input type="text" class="form-control" v-model="details.etaj" />
					</div>
					<div class="col-12 col-md-2">
						<label for>Apartament</label>
						<input type="text" class="form-control" v-model="details.apartament" />
					</div>-->
				</div>
				<div class="row mb-4">
					<div class="col-12 col-md-4">
						<label>Oras</label>
						<input type="text" class="form-control" v-model="details.oras" />
					</div>
					<div class="col-12 col-md-8">
						<label>Localizare geografica</label>
						<div class="d-flex">
							<select class="form-control mr-4" v-model="details.regiune">
								<option
									v-for="regiune in regiuni"
									:key="regiune.name"
									:value="regiune.name"
								>{{regiune.name}}</option>
							</select>
							<select class="form-control mr-4" v-model="details.judet" placeholder="Judet">
								<option v-for="judet in parsedJudete" :key="judet" :value="judet">{{judet}}</option>
							</select>
							<input
								type="text"
								class="form-control"
								v-model="details.uat"
								placeholder="Unitate administrativ teritoriala"
							/>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-12 col-md-4">
						<label>CNP</label>
						<input type="text" class="form-control" v-model="details.cnp" @change="handleCNPChange" />
					</div>
					<div class="col-12 col-md-4">
						<label>Serie buletin</label>
						<input type="text"
							class="form-control"
							v-model="informatii_generale.serieBuletin" />
					</div>
					<div class="col-12 col-md-4">
						<label>Numar buletin</label>
						<input type="text" class="form-control" v-model="informatii_generale.nrBuletin" />
					</div>
				<div class="col-12 col-md-4">
					<label>Eliberat de</label>
					<input
						type="text"
						class="form-control"
						v-model="informatii_generale.eliberatDeBuletin"
					/>
				</div>
				<div class="col-12 col-md-4">
					<label>Data eliberare</label>
					<input
						type="text"
						class="form-control"
						v-model="informatii_generale.dataEliberareBuletin"
					/>
				</div>
					<div class="col-12 col-md-4">
						<label>Telefon</label>
						<input type="text" class="form-control" v-model="details.telefon" />
					</div>
					<div class="col-12 col-md-4">
						<label>E-mail</label>
						<input type="email" class="form-control" v-model="details.email" />
					</div>
				</div>
				<div class="row mb-5">
					<div class="col-12 col-md-4">
						<label>Zona</label>
						<div class="d-flex align-items-center">
							<input type="radio" class="mr-2" v-model="details.zona" value="Urban" /> Urban
							<input type="radio" class="mr-2 ml-2" v-model="details.zona" value="Rural" /> Rural
						</div>
					</div>
					<div class="col-12 col-md-4" v-if="details.varsta">
						<label>Varsta:</label>
						<p class="font-weight-bold">{{ details.varsta }} ani</p>
					</div>
					<div class="col-12 col-md-4" v-if="details.gen">
						<label>Gen</label>
						<p class="font-weight-bold">{{ details.gen }}</p>
					</div>
				</div>
				<div class="row mb-4">
					<h2 class="forms mb-4">Informatii generale</h2>

					<div class="col-12 mb-4">
						<label for>Categoria de grup țintă din care face parte</label>
						<select class="form-control" v-model="informatii_generale.categoria">
							<option
								value="Consumatori droguri injectabile (CDI)"
							>Consumatori droguri injectabile (CDI)</option>
							<option value="Persoane fara adapost (PAFA)">Persoane fara adapost (PAFA)</option>
							<option
								value="Persoane private de libertate (PPL)"
							>Persoane private de libertate (PPL)</option>
							<option value="Persoane din mediul rural">Persoane din mediul rural</option>
						</select>
					</div>

					<div class="col-12 mb-4">
						<label for>Situația pe piața forței de muncă persoană ocupată</label>
						<div class="d-grid-3">
							<div v-for="s in sit" :key="slugify(s)">
								<input
									type="radio"
									class="mr-2"
									v-model="informatii_generale.statutul_pe_piata_muncii"
									:value="slugify(s)"
								/>
								{{ s }}
							</div>
						</div>
					</div>

					<div class="col-12 mb-4">
						<label for>Nivel de educație</label>

						<div class="d-grid-3">
							<div v-for="e in educatie" :key="slugify(e)">
								<input
									type="radio"
									class="mr-2"
									v-model="informatii_generale.nivelul_studiilor"
									:value="slugify(e)"
								/>
								{{ e }}
							</div>
						</div>
					</div>

					<div class="col-12 mb-4">
						<label for>Persoană dezavantajată</label>
						<div>
							<input
								type="radio"
								class="mr-2"
								name="persoana_dezavantajata"
								v-model="informatii_generale.persoana_dezavantajata"
								value="Da"
							/> DA
							<input
								type="radio"
								class="mr-2 ml-4"
								name="persoana_dezavantajata"
								v-model="informatii_generale.persoana_dezavantajata"
								value="Nu"
							/> NU
						</div>
						<div class="mt-4" v-if="informatii_generale.persoana_dezavantajata === 'Da'">
							<div v-for="dz in persoana_dezavantajata" :key="slugify(dz)">
								<input
									type="radio"
									class="mr-2"
									v-model="informatii_generale.p_d_extra"
									:value="slugify(dz.toLowerCase())"
								/>
								{{ dz }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<button class="btn btn-primary mb-4" @click="proceed" v-if="!loading">
							<img src="../../assets/adauga-pacient.svg" /> Adauga pacient
						</button>
						<Errors :errors="errors" v-if="errors !== false" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid fully" v-else>
		<div class="card">
			<div class="card-body">
				<h2 class="forms mb-5">Pacientul a fost adăugat cu succes!</h2>

				<div class="d-flex">
					<button class="btn btn-primary mr-4" @click="reload">
						<img src="../../assets/adauga-pacient.svg" /> Adaugă alt pacient
					</button>

					<router-link :to="{name:'pacient-date-contact', params: {id: pacient.id}}" class="btn btn-secondary">
						<img src="../../assets/lista-pacienti.svg" /> Mergi la fișa pacientului
					</router-link>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import slugify from "slugify";
import Errors from "../../components/Errors";
import cnpValidate from "../../util/cnp";
import idb from '../../store/idb/indexeddb';


const regiuniData = [
	{
		name: "Nord-Est",
		judete: ["Bacau", "Botosani", "Neamt", "Iasi", "Suceava", "Vaslui"]
	},
	{
		name: "Sud-Est",
		judete: ["Braila", "Buzau", "Constanta", "Tulcea", "Vrancea"]
	},
	{
		name: "Sud-Muntenia",
		judete: [
			"Arges",
			"Calarasi",
			"Dambovita",
			"Giurgiu",
			"Ialomita",
			"Prahova",
			"Teleorman"
		]
	},
	{
		name: "Sud-Vest Oltenia",
		judete: ["Dolj", "Olt", "Valcea", "Mehedinti", "Gorj"]
	},
	{
		name: "Vest",
		judete: []
	},
	{
		name: "Nord-Vest",
		judete: [
			"Bihor",
			"Bistrita-Nasaud",
			"Cluj",
			"Maramures",
			"Satu Mare",
			"Salaj"
		]
	},
	{
		name: "Centru",
		judete: ["Alba", "Brasov", "Covasna", "Harghita", "Mures", "Sibiu"]
	},
	{
		name: "Bucuresti-Ilfov",
		judete: ["Bucuresti", "Ilfov"]
	}
];

export default {
	data() {
		return {
			pacient: null,
			errors: false,
			success: false,
			loading: false,
			regiuni: regiuniData,
			details: {
				nume: "",
				prenume: "",
				strada: "",
				numar: "",
				bloc: "",
				scara: "",
				etaj: "",
				apartament: "",
				oras: "",
				regiune: "",
				judet: "",
				uat: "",
				cnp: "",
				telefon: "",
				email: "",
				zona: "",
				varsta: "",
				gen: ""
			},
			informatii_generale: {
				situatie: null,
				categoria: null
			},
			slugify: slugify,
			educatie: [
				"Studii Educație timpurie (ISCED 0)",
				"Studii primare (ISCED 1)",
				"Studii gimnaziale (ISCED 2)",
				"Studii liceale (ISCED 3)",
				"Studii postliceale (ISCED 4)",
				"Studii superioare (ISCED 5)",
				"Studii superioare (ISCED 6)",
				"Studii superioare (ISCED 7)",
				"Studii superioare (ISCED 8)",
				"fără ISCED"
			],
			sit: [
				"Angajat",
				"Angajat pe cont propriu",
				"Șomer",
				"Șomer de lungă durată",
				"Persoană inactivă (inclusiv copii antepreșcolari, preșcolari, elevi etc.)",
				"Alta categorie de inactivi în afara de cei din educație și formare"
			],
			persoana_dezavantajata: [
				"Participanți care trăiesc în gospodării fără persoane ocupate",
				"Participanți care trăiesc în gospodării fără persoane ocupate cu copii aflați în întreținere",
				"Participanți care trăiesc în gospodării alcătuite dintr-un părinte unic cu copii aflați în întreținere",
				"Migranți",
				"Participanți de origine străină",
				"Minorități",
				"Etnie romă",
				"Alta minoritate decât cea de etnie romă",
				"Comunități marginalizate",
				"Participanți cu dizabilități",
				"Alte categorii defavorizate",
				"Persoane fără adăpost sau care sunt afectate de excluziunea locativă",
				"Niciuna din opțiunile de mai sus"
			]
		};
	},
	components: { Errors },
	computed: {
		parsedJudete() {
			const regiune = this.regiuni.find(
				item => item.name === this.details.regiune
			);

			if (regiune !== undefined) {
				return regiune.judete;
			}

			return [];
		}
	},
	methods: {
		handleCNPChange() {
			const cnp = cnpValidate(this.details.cnp);
			//console.log(cnp);
			this.details.varsta = cnp.age;
			this.details.gen = cnp.gender;
		},
		proceed() {
			this.loading = true;
			this.success = false;
			this.errors = false;
			this.$http({
				url: `pacients/create`,
				method: "POST",
				data: {
					details: this.details,
					informatii_generale: this.informatii_generale
				}
			}).then(
				res => {
					
					let lastDatabaseSyncDate = localStorage.getItem('lastDatabaseSyncDate'); 
					if(!lastDatabaseSyncDate){
						lastDatabaseSyncDate = new Date();
					}
					idb.getPatientsUpdatedSince(lastDatabaseSyncDate).then(offlinedata=>{
						
						//console.log('data',offlinedata);
						//show popup
						if(offlinedata.length && confirm("Aveti date locale care nu sunt salvate pe server. Apasati ok pentru a le urca pe server si a reinnoi sesiunea, sau cancel pentru a sterge datele respective")){
							this.$http({
								url: `pacients/bulk`,
								method: "POST",
								data:res
							}).then( (result) => {
								localStorage.setItem('lastDatabaseSyncDate',new Date().toISOString());
								this.loading = false;
								idb.saveDatabase(result.data.pacients);
								this.pacient = res.data.user;
								this.success = res.data.success;
							})
						}else{
							this.loading = false;
							this.pacient = res.data.user;
							this.success = res.data.success;
						}
					})

				},
				err => {
					console.log(err)
					if(err.message === 'Network Error'){
						idb.savePatient({...this.details, informatii_generale:JSON.stringify(this.informatii_generale)}).then(data=>{
							this.loading = false;
							this.pacient = res.data.user;
							this.success = res.data.success;
						})
					}else{
						this.loading = false;
						console.error(err.response);
						this.errors = err.response.data.errors;
					}
					
				}
			);
		},
		reload() {
			this.loading = false;
			this.success = false;
			window.location.reload();
		}
	}
};
</script>


<style lang="scss" scoped>
.fully {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
</style>
