<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Adauga eveniment</h5>
        <router-link :to="{name: 'calendar'}" class="btn btn-secondary">Inapoi</router-link>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5>Date generale</h5>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <label>Alege caravana</label>
            <select v-model="caravana" class="form-control">
              <option v-for="cr in caravane" :key="cr.id" :value="cr.id">Caravana {{ cr.id }}</option>
            </select>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <label>Perioada</label>
            <vc-date-picker mode="range" v-model="perioada" />
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12">
            <h5>Traseul caravanei</h5>
          </div>

          <div class="col-12" v-if="!perioada">
            <div class="alert alert-warning">Trebuie sa alegi data de inceput si data de sfarsit.</div>
          </div>

          <div class="col-12" v-else>
            <div class="row" v-for="(d,index) in destinations" :key="index">
              <div class="col-12 col-md-2 mb-4">
                <label>Judet</label>
                <multiselect
                  v-model="d.judet"
                  :options="judete"
                  placeholder="Alege judet"
                  label="name"
                  track-by="name"
                  :allow-empty="false"
                  :multiple="false"
                  @select="handleDestinationSelect"
                ></multiselect>
              </div>
              <div class="col-12 col-md-2 mb-4">
                <label>Localitate</label>
                <multiselect
                  v-model="d.localitate"
                  :options="localitati"
                  placeholder="Alege localitate"
                  label="name"
                  track-by="name"
                  :allow-empty="false"
                  :multiple="false"
                ></multiselect>
              </div>
              <div class="col-12 col-md-3 mb-4">
                <label>Perioada</label>
                <vc-date-picker mode="range" :disabled-dates="excludeDates" v-model="d.perioada" />
              </div>
              <div class="col-12 col-md-4 mb-4">
                <label class="d-block">Orar Locatie</label>
                <textarea class="form-control" v-model="d.orar"></textarea>
              </div>
              <div class="col-12 col-md-1 mb-4">
                <label class="d-block">.</label>
                <button class="btn btn-link text-danger" @click="handleRemoveDestination(index)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
            <div class="mt-2">
              <button class="btn btn-primary" @click="handleAddDestination">Adauga destinatie</button>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12">
            <h5>Personal eveniment</h5>
          </div>

          <div class="col-12" v-if="!perioada">
            <div class="alert alert-warning">Trebuie sa alegi data de inceput si data de sfarsit.</div>
          </div>

          <div class="col-12" v-else>
            <button
              class="btn btn-secondary"
              @click="handleSelectPersonal"
              v-if="!selectPersonal"
            >Selecteaza personal caravana</button>

            <div v-else>
              <multiselect
                v-model="personal"
                :options="personalAvailable"
                placeholder="Alege personal"
                label="nume"
                track-by="nume"
                :allow-empty="false"
                :multiple="true"
              ></multiselect>

              <div class="mt-4">
                <div class="row member mb-4" v-for="(om,index) in personal" :key="index">
                  <div class="col-12 col-md-3">
                    <div class="title">{{ om.echipa }}</div>
                  </div>
                  <div class="col-12 col-md-3">
                    <p class="mb-0">{{ om.functie }}</p>
                    <p class="font-weight-bold mb-0">{{om.nume}}</p>
                    <p>
                      <span class="font-weight-bold">Telefon:</span>
                      {{om.telefon}}
                    </p>
                  </div>
                  <div class="col-12 col-md-3">
                    <p>
                      <span class="font-weight-bold">Email:</span>
                      {{om.email}}
                    </p>
                  </div>
                  <div class="col-12 col-md-3">
                    <p>
                      <span class="font-weight-bold">Fax:</span>
                      {{om.fax}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary" @click="proceed">Adaugă eveniment</button>
          </div>
        </div>

        <Errors v-if="errors" :errors="errors" />
      </div>
    </div>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import Errors from "../../components/Errors";
import moment from "moment";

export default {
  name: "CalendarAdd",
  data() {
    return {
      caravane: [],
      caravana: null,
      selectPersonal: false,
      finished: false,
      errors: false,
      perioada: null,
      personalAvailable: [],
      locatia: null,
      echipa: null,
      personal: [],
      destinations: [],
      judete: [],
      localitati: []
    };
  },
  components: { Datepicker, Errors },
  created() {
    this.getJudete();
    this.getCaravane();
  },
  computed: {
    excludeDates() {
      const selected = this.destinations.map(item => {
        if (item.perioada) return item.perioada;
      });

      let start = new Date(this.perioada.start);
      start = start.setDate(start.getDate() - 1);

      let end = new Date(this.perioada.end);
      end = end.setDate(end.getDate() + 1);

      return [
        {
          start: null,
          end: new Date(start)
        },
        ...selected,
        {
          start: new Date(end),
          end: null
        }
      ];
    }
  },
  methods: {
    handleRemoveDestination(index) {
      this.destinations.splice(index, 1);
    },
    handleAddDestination() {
      this.destinations.push({
        judet: null,
        localitate: null,
        orar: "",
        perioada: null
      });
    },
    handleDestinationSelect(ev) {
      this.getLocalitati(ev.id);
    },
    getLocalitati(id) {
      this.$http({
        url: `counties/${id}`,
        method: "GET"
      }).then(
        res => {
          this.localitati = res.data.cities;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    getJudete() {
      this.$http({
        url: `counties/list`,
        method: "GET"
      }).then(
        res => {
          this.judete = res.data.counties;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    getCaravane() {
      this.$http({
        url: `info-caravana/list`,
        method: "GET"
      }).then(
        res => {
          this.caravane = res.data.caravane;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    getPersonalAvailable() {
      this.$http({
        url: `personal/available`,
        method: "POST",
        data: {
          data_inceput: this.perioada.start,
          data_sfarsit: this.perioada.end
        }
      }).then(
        res => {
          this.personalAvailable = res.data.personal;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    handleSelectPersonal() {
      this.selectPersonal = true;
      this.getPersonalAvailable();
    },
    formatDate(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    addMembru() {
      this.personal.push({ ...defobj });
    },
    proceed() {
      this.errors = false;
      this.$http({
        url: `evenimente/store`,
        method: "POST",
        data: {
          caravana_id: this.caravana,
          data_inceput: this.perioada.start,
          data_sfarsit: this.perioada.end,
          locatia: JSON.stringify(this.destinations),
          echipa: this.echipa,
          personal: JSON.stringify(this.personal)
        }
      }).then(
        res => {
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Evenimentul a fost adaugat cu succes!"
          });
          this.$router.push({ name: "calendar" });
        },
        err => {
          console.error(err.response);
          this.$notify({
            group: "foo",
            title: "Eroare",
            type: "error",
            position: "bottom right",
            text: "A aparut o eroare la salvare."
          });
          this.errors = err.response.data.errors;
        }
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.add-membru {
  background-color: #f7fafd;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;

  color: #c1c8d0;

  &:hover {
    cursor: pointer;
  }
}

body.dark-only {
  .add-membru {
    background-color: lighten(#2f3c4e, 5);
    color: #fff;
  }
}
</style>