<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <router-link
          :to="{name: 'calendar-add'}"
          class="btn btn-primary pull-right"
          v-if="$auth.user().roles_array.includes('partener')||$auth.user().roles_array.includes('echipa-caravana')"
        >Adaugă eveniment</router-link>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-2">
            <ul class="legend-ul">
              <li class="legend-badge mb-2"
                v-for="caravana in caravane"
                :key="caravana.id"
                v-bind:style="{backgroundColor: colors[caravana.id]}"
              >Caravana {{ caravana.id }}</li>
            </ul>
          </div>
          <div class="col-12 col-md-10">
            <FullCalendar
              defaultView="dayGridMonth"
              :plugins="calendarPlugins"
              :events="evenimente"
              locale="ro"
              :locales="[roLocale]"
              lang="ro"
              class="mb-4"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FullCalendar from "@fullcalendar/vue";
import dayGridPlugin from "@fullcalendar/daygrid";
import roLocale from "@fullcalendar/core/locales/ro";
import moment from "moment";

export default {
  name: "Calendar",
  components: {
    FullCalendar // make the <FullCalendar> tag available
  },
  data() {
    return {
      roLocale,
      evenimente: [],
      caravane: [],
      calendarPlugins: [dayGridPlugin],
      colors: [
        "#179d04",
        "#f75e2c",
        "#20abbb",
        "#b44cf9",
        "#c02429",
        "#22917b",
        "#a1667f",
        "#b0bb09",
        "#6728a0",
        "#33b649",
        "#fe1e60",
        "#cd99d1",
        "#88b621",
        "#66618d"
      ]
    };
  },
  methods: {
    getCaravane() {
      this.$http({
        url: `info-caravana/list`,
        method: "GET"
      }).then(res => {
        this.caravane = res.data.caravane;
      });
    },
    enumerateDaysBetweenDates(startDate, endDate) {
      const dates = [];

      const currDate = moment(startDate).startOf("day");
      const lastDate = moment(endDate).startOf("day");

      dates.push(currDate.clone().toDate());
      dates.push(lastDate.clone().toDate());

      while (currDate.add(1, "days").diff(lastDate) < 0) {
        dates.push(currDate.clone().toDate());
      }

      return dates;
    },
    getEvenimente() {
      this.$http({
        url: `evenimente`,
        method: "GET"
      }).then(
        res => {
          const events = res.data.evenimente;

          const evenimente = [];

          events.forEach(item => {
            const locatii = JSON.parse(item.locatia);
            const traseu = locatii.map(loc => {
              return `${loc.localitate.name}, ${loc.judet.name}`;
            });

            this.evenimente.push({
              title: `Caravana ${
                item.caravana_id
              } merge pe traseul: ${traseu.join(" - ")}`,
              start: item.data_inceput,
              end: moment(item.data_sfarsit).add(1,"days").startOf("day").toDate(),
              backgroundColor: this.colors[item.caravana_id],
              borderColor: this.colors[item.caravana_id],
              allDay: true,
              url: `/calendar/eveniment/${item.id}`
            });

            locatii.forEach(locatie => {
              const splitDates = this.enumerateDaysBetweenDates(
                locatie.perioada.start,
                locatie.perioada.end
              );

              splitDates.forEach(date => {
                this.evenimente.push({
                  title: `${locatie.localitate.name}`,
                  start: date,
                  end: date,
                  backgroundColor: this.colors[item.caravana_id],
                  borderColor: this.colors[item.caravana_id],
                  allDay: true,
                  url: `/calendar/eveniment/${item.id}`
                });
              });
            });
          });
        },
        () => {
          this.$notify({
            group: "foo",
            title: "Error",
            type: "error",
            position: "bottom right",
            text: "A aparut o eroare la preluarea evenimentelor!"
          });
          this.has_error = true;
        }
      );
    }
  },
  beforeMount() {
    this.getCaravane();
    this.getEvenimente();
  }
};
</script>

<style lang='scss'>
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

.legend-ul {
  width: 80%;
  padding-top: 60px;
  .legend-badge {
    padding: 0.5rem;
    color: #fff;
    border-radius: 3px;
  }
}

.fc-content {
  padding: 2px;
  display: flex;
  align-items: center;
}
</style>
