<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3 mb-4">
        <label>Nume/Prenume/CNP/Telefon</label>
        <input type="text" class="form-control" placeholder="Căutare" v-model="cautare" />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <pacients-list :cautare="cautare" :judet="judet" :data_radiografie="data_radiografie"></pacients-list>
      </div>
    </div>
  </div>
</template>

<script>
import pacientsList from "../../components/pacients-list.vue";
export default {
  data() {
    return {
      cautare: "",
      judet: "",
      data_radiografie: "",
      judete: []
    };
  },
  components: {
    pacientsList
  },
  methods: {
    getJudete() {
      this.$http({
        url: `counties/list`,
        method: "GET"
      }).then(
        res => {
          this.judete = res.data.counties;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  },
  mounted() {
    this.getJudete();
  }
};
</script>
