<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3 mb-4">
        <label>Județ</label>
        <multiselect
          v-model="judet"
          :options="judete"
          placeholder="Alege judet"
          label="name"
          track-by="name"
          :allow-empty="true"
          :multiple="false"
        ></multiselect>
      </div>
      <div class="col-12 col-md-3 mb-4">
        <label>Data radiografie</label>
        <vc-date-picker v-model="data_radiografie" />
      </div>
      <div class="col-12 col-md-3">
        <label class="d-block">&nbsp;.</label>
        <button class="btn btn-primary" @click="handleFilter">Genereaza lista</button>
        <i class="fas fa-spinner fa-spin" v-if="loading"></i>
      </div>
    </div>

    <div class="row card">
      <div class="card-body">
        <div class="table-responsive">
          <datatable
            :columns="columns"
            :data="pacients"
            :per-page="25"
            class="table table-hover table-bordered"
          ></datatable>
          <div class="col-12 py-4 d-flex align-items-center justify-content-center">
            <datatable-pager v-model="page" type="abbreviated"></datatable-pager>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import slugify from "slugify";
import moment from "moment";

export default {
  data() {
    return {
      cautare: "",
      judet: "",
      data_radiografie: "",
      page: 1,
      loading: false,
      judete: [],
      pacients: [],
      columns: [
        { label: "ID", field: "id" },
        {
          label: "Nume",
          representedAs: ({ nume, prenume }) => `${nume} ${prenume}`
        },
        { label: "CNP", field: "cnp" },
        { label: "Adresa", field: "adresa_domiciliu" },
        { label: "Judet", field: "judet_domiciliu" },
        {
          label: "Buletin",
          representedAs: ({ buletine }) => {
            const exists = buletine.filter(
              item => item.type === "expert-local-tb"
            );
            if (exists.length) {
              return `<span class="text-success">Buletin completat</span>`;
            } else {
              return `<span class="text-danger>Buletin necompletat</span>`;
            }
          },
          interpolate: true
        },
        { label: "Telefon", field: "telefon" },
        {
          label: "Actiuni",
          representedAs: ({ id }) =>
            `<a href="/pacient/${id}">Deschide fișa</a>`,
          interpolate: true
        }
      ]
    };
  },

  methods: {
    getJudete() {
      this.$http({
        url: `counties/list`,
        method: "GET"
      }).then(
        res => {
          this.judete = res.data.counties;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    handleFilter() {
      this.loading = true;
      this.$http({
        url: `pacients`,
        method: "GET"
      })
        .then(
          res => {
            if (this.judet !== "") {
              this.pacients = res.data.pacients.filter(item => {
                return (
                  slugify(item.judet_domiciliu).toLowerCase() ===
                  slugify(this.judet.name).toLowerCase()
                );
              });
            }

            if (this.data_radiografie !== "") {
              const needed = moment(this.data_radiografie);
              this.pacients = this.pacients.filter(function(item) {
                let good = false;

                if (item.radiografii.length) {
                  item.radiografii.map(function(r) {
                    const dc = moment(r.created_at, "YYYY-MM-DD HH:mm:ss");
                    if (dc.isSame(needed, "day")) {
                      good = true;
                    }
                  });
                }

                return good;
              });
            }
          },
          () => {
            this.has_error = true;
          }
        )
        .finally(() => {
          this.loading = false;
        });
    }
  },
  mounted() {
    this.getJudete();
  }
};
</script>
