<template>
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Lista evenimente</h5>

            <router-link :to="{name: 'calendar-add'}" class="btn btn-secondary">Adaugă eveniment</router-link>
          </div>
          <div class="table-responsive p-5 d-none" v-if="loading">
            <i class="fas fa-spinner fa-spin fa-2x"></i>
          </div>

          <datatable
            :columns="columns"
            :data="evenimente"
            :per-page="15"
            class="table table-hover table-bordered"
          ></datatable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../components/Errors";

import feather from "feather-icons";
import Swal from "sweetalert2";

import moment from "moment";

export default {
  data() {
    return {
      evenimente: [],
      filter: null,
      addMembru: false,
      addErrors: false,
      addSuccess: false,
      loading: true,
      toadd: {},
      members: [],
      dialog: false,
      columns: [
        { label: "ID", field: "id" },
        { label: "Caravana", field: "caravana_id" },
        { label: "Data inceput", field: "data_inceput" },
        { label: "Data sfarsit", field: "data_sfarsit" },
        {
          label: "Locatii",
          representedAs: ({ locatii }) => {
            return locatii
              .map(loc => {
                const days = moment(loc.perioada.end).diff(
                  moment(loc.perioada.start),
                  "days"
                );
                return `${loc.judet.name}, ${loc.localitate.name} (${days} zile)`;
              })
              .join(" - ");
          },
          interpolate: true
        },
        {
          label: "Actiuni",
          representedAs: ({ id }) => `<a href="/calendar/eveniment/${id}">Deschide</a>`,
          interpolate: true
        }
      ],
      desserts: [],
      editedIndex: -1
    };
  },
  components: { Errors },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.getEvenimente();
  },
  mounted() {
    feather.replace();

    /* window.EventBus.$on("update-stoc", id => this.handleUpdateStoc(id)); */
  },
  methods: {
    getEvenimente() {
      this.$http({
        url: `evenimente`,
        method: "GET"
      }).then(
        res => {
          const events = res.data.evenimente;

          events.forEach(item => {
            item.locatii = JSON.parse(item.locatia);
          });

          this.evenimente = events;
        },
        () => {
          this.$notify({
            group: "foo",
            title: "Error",
            type: "error",
            position: "bottom right",
            text: "A aparut o eroare la preluarea evenimentelor!"
          });
          this.has_error = true;
        }
      );
    }
  }
};
</script>

<style lang="scss">
.fa-plus-circle {
  cursor: pointer;
}
</style>