<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Mobilizare comunitati</h5>
        <div>
          <router-link
            :to="{name: 'mobilizare-comunitati-add'}"
            class="btn btn-primary"
          >Adauga fisier</router-link>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-4">
            <label>Judet</label>
            <multiselect
              v-model="judet"
              :options="judete"
              placeholder="Alege judet"
              label="name"
              track-by="name"
              :allow-empty="false"
              :multiple="false"
              @select="handleJudetSelect"
            ></multiselect>
          </div>
          <div class="col-12 mb-4">
            <label>Localitate</label>
            <multiselect
              v-model="localitatiSelected"
              :options="localitati"
              placeholder="Alege localitate"
              label="name"
              track-by="name"
              :allow-empty="false"
              :multiple="true"
            ></multiselect>
          </div>
          <div class="col-12 mb-4">
            <label>Perioada</label>
            <vc-date-picker mode="range" v-model="perioada" />
          </div>
          <div class="col-12 mb-4">
            <form id="uploadImage" method="POST" enctype="multipart/form-data">
              <input type="file" name="file[]" multiple class="imagePicker" style="display: none;" />
            </form>
            <label>
              <input type="file" id="file" ref="file" multiple v-on:change="handleFileUpload()" />
            </label>
          </div>
          <div class="col-12">
            <button class="btn btn-primary mb-4" @click="handleAdd">Adaugă fisier</button>

            <Errors :errors="errors" v-if="errors !== false" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../components/Errors";
import moment from "moment";

export default {
  data() {
    return {
      judet: null,
      judete: [],
      localitati: [],
      perioada: {},
      localitatiSelected: [],
      file: [],
      errors: false
    };
  },
  components: { Errors },
  created() {
    this.getJudete();
  },
  methods: {
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    getJudete() {
      this.$http({
        url: `counties/list`,
        method: "GET"
      }).then(
        res => {
          this.judete = res.data.counties;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    getLocalitati(id) {
      this.$http({
        url: `counties/${id}`,
        method: "GET"
      }).then(
        res => {
          this.localitati = res.data.cities;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    handleJudetSelect(ev) {
      this.getLocalitati(ev.id);
    },
    handleAdd() {
      this.success = false;
      this.error = false;

      let formData = new FormData();
      if (this.file !== null) {
        formData.append("file", this.file);
      }
      formData.append("judet", this.judet.id);
      formData.append("perioada", moment(this.perioada.start).format("DD.MM.YYYY") + " - " + moment(this.perioada.end).format("DD.MM.YYYY"));
      formData.append(
        "localitati",
        this.localitatiSelected.reduce((old, current) => {
          if (old !== "") {
            return old + ", " + current.name;
          } else {
            return current.name;
          }
        }, "")
      );

      this.$http({
        url: `mobilizare-comunitati/store`,
        method: "POST",
        data: formData,
        headers: {
          "Content-Type": "multipart/form-data"
        }
      }).then(
        res => {
          this.errors = false;
          this.file = null;
          this.$notify({
            group: "foo",
            title: "Succes",
            type: "success",
            position: "bottom right",
            text: "Fisierul a fost adaugat cu success!"
          });

          return this.$router.push({ name: "mobilizare-comunitati" });
        },
        err => {
          this.errors = err.response.data.errors || [err.response.data.message];
        }
      );
    }
  }
};
</script>