<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Mobilizare comunitati</h5>
        <div>
          <router-link
            :to="{name: 'mobilizare-comunitati-add'}"
            class="btn btn-primary"
            v-if="$auth.check(['admin', 'partener'])"
          >Adauga fisier</router-link>
        </div>
      </div>
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <td>Judet</td>
              <td>Localitati</td>
              <td>Perioada</td>
              <td>Lista</td>
              <td>Data incarcarii</td>
              <td>Incarcat de</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="element in elemente" :key="element.id">
              <td>{{ element.judet.name }}</td>
              <td>{{ element.localitati }}</td>
              <td>{{ element.perioada }}</td>
              <td>
                <a :href="element.file_url" class="btn btn-secondary" target="_blank">Descarca fisier</a>
              </td>
              <td>{{ element.created_at }}</td>
              <td>{{ element.owner.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      elemente: []
    };
  },
  methods: {
    getMobilizareComunitati() {
      this.$http({
        url: `mobilizare-comunitati`,
        method: "GET"
      }).then(
        res => {
          this.elemente = res.data.elemente;
        },
        () => {
          this.has_error = true;
        }
      );
    }
  },
  created() {
    this.getMobilizareComunitati();
  },
};
</script>