<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Registru doza radiatie</h5>
        <div>
          <router-link
            :to="{name: 'registru-doza-radiatie-add'}"
            class="btn btn-primary"
          >Adauga doza</router-link>
          <button class="btn btn-info" @click="handlePrint">Tipareste tabel</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          
          <div class="col-6 d-flex flex-column">
            <p> Perioada raportare: </p>
            <div class="d-flex flex-grow-1 position-relative"  :style="{ 'pointer-events': loading ? 'none' : null }">
              <vc-date-picker
                :attributes='attributes'
                mode='range'
                
                :masks="masks"
                @input="filterChanged"
                class="h-100 w-100"
                v-model="range"
                :input-props='{
                  class:"h-100 vc-appearance-none vc-text-base vc-text-gray-800 vc-bg-white focus:vc-border vc-border vc-border-gray-400 vc-rounded vc-w-full vc-py-2 vc-px-3 vc-leading-tight",
                  readonly:true,
                  placeholder: "Optional: Selectati indervalul de raportare",
                }'
              />
              <button v-if="range" @click="range = null;filterChanged()" class="clear-btn">x</button>
            </div>
          </div>


          <div class="col-12 table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nr Crt</th>
                  <th>Nume si Prenume</th>
                  <th>Varsta</th>
                  <th>Inaltime</th>
                  <th>Greutate</th>
                  <th>kV</th>
                  <th>mA</th>
                  <th>
                    Timp Exp
                    <br />(msec.)
                  </th>
                  <th>mAs</th>
                  <th>
                    Distanta focar-film/detector
                    <br />(cm)
                  </th>
                  <th>ESAK (mGy)</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(doza,index) in doze" :key="doza.id">
                  <td>{{index+1}}</td>
                  <td><p v-if="doza.pacient">{{doza.pacient.nume}} {{ doza.pacient.prenume }}</p> <p v-else>Fara nume</p></td>
                  <td>{{doza.varsta}}</td>
                  <td>{{doza.inaltime}}</td>
                  <td>{{doza.greutate}}</td>
                  <td>{{doza.kv}}</td>
                  <td>{{doza.ma}}</td>
                  <td>{{doza.timp_exp}}</td>
                  <td>{{doza.mas}}</td>
                  <td>{{doza.distanta_focar}}</td>
                  <td>{{doza.esak}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Locale } from "v-calendar";
const locale = new Locale();
const mask = "YYYY-MM-DD";
export default {
  data() {
    return {
      doze: [],
      range:null,
    };
  },
  watch: {
      range: {
        handler: function () {
            //console.log(this.range);  
        },
        deep: true
      }
  },
  methods: {
    filterChanged(){
    
      let start = this.range ? locale.format(this.range.start, mask) : "";
      let end = this.range ? locale.format(this.range.end, mask) : "";
      this.getDoze(start,end);
    },
    getDoze(start,end) {
      this.$http({
        url: `registru-doza-radiatie?start_date=${start||''}&end_date=${end||''}`,
        method: "GET"
      }).then(
        res => {
          this.doze = res.data.doze;
        },
        () => {
          this.has_error = true;
        }
      );
    },
    handlePrint() {
      let printObj = this.doze.map((elem,index)=>{
        elem.nr_crt=index+1;
        elem.nume_prenume = elem.pacient ? elem.pacient.nume+ ' '+ elem.pacient.prenume : 'Fara nume';
        return elem});
      return printJS({
        printable: printObj,
        header: "REGISTRU DOZA RADIATIE",
        headerStyle: "text-align: center",
        style: ' text-align:center',
        properties: [
          "nr_crt",
          "nume_prenume",
          "varsta",
          "inaltime",
          "greutate",
          "kv",
          "ma",
          "timp_exp",
          "mas",
          "distanta_focar",
          "esak"
        ],
        type: "json"
      });
    }
  },
  mounted() {
    this.getDoze();
  }
};
</script>
<style >

.vc-appearance-none{
  appearance: none;
  height: 100%;
}

.multiselect__single {
    padding-left: 5px;
    margin-bottom: 10px;
}
.clear-btn{
  position: absolute;
  right: 10px;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 100%;
  font-size: xx-large;
  display: flex;
  align-items: flex-end;
}
.clear-btn:focus{
  outline: none !important;
}
</style>